extends ../layouts/base

block title
	| Предрейсовые и послерейсовые осмотры в Санкт-Петербурге

block main-content
	include ../blocks/main-screen/main-screen.pug

	include ../blocks/img-text/img-text-2.pug

	//include ../blocks/info-section/info-section.pug

	//include ../blocks/flex-block/flex-block.pug

	include ../blocks/contacts-section/contacts-section.pug

	//include ../blocks/popup/popup.pug

