extends ../layouts/base

block title
	| Геральдический Завод

block main-content
	include ../blocks/nav/nav.pug

	include ../blocks/header/header.pug

	include ../blocks/main-screen/main-screen.pug

	include ../blocks/img-text/img-text-2.pug

	include ../blocks/services-list/services-list.pug

	include ../blocks/portfolio/portfolio.pug

	include ../blocks/person-block/person-block.pug

	include ../blocks/call-to-action/call-to-action-art.pug

	include ../blocks/result/result.pug

	include ../blocks/result/result-2.pug

	include ../blocks/result/result-3.pug

	include ../blocks/flex-block/flex-block.pug

	include ../blocks/descr-block/descr-block.pug

	include ../blocks/call-to-action/call-to-action-exclusive.pug

	include ../blocks/flex-block/flex-block-2.pug

	include ../blocks/img-text/img-text.pug

	include ../blocks/contacts-section/contacts-section.pug

	include ../blocks/popup/popup.pug

