extends ../layouts/base

block title
    | Крутой сайт за 3000 рублей

block main-content

    include ../blocks/main-screen/main-screen.pug

    include ../blocks/services-list/services-list.pug

    include ../blocks/portfolio/portfolio.pug

    include ../blocks/call-to-action/call-to-action-exclusive.pug

    include ../blocks/person-block/person-block.pug

    include ../blocks/call-to-action/call-to-action-tech.pug

    include ../blocks/result/result.pug

    include ../blocks/result/result-2.pug

    include ../blocks/result/result-3.pug

    include ../blocks/flex-block/flex-block.pug

    include ../blocks/services-list/services-list-2.pug

    include ../blocks/contacts-section/contacts-section.pug

