doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width")

	body
		div(style="width: 500px; margin: 0 auto; font-family: serif;")
			header(style="display: block; margin: 0; font-size: 25px; line-height: 25px; text-align: center; padding: 20px; background-color: #0f0f11; color: #D6AD4E;")
				| {{ subject }}
			div
				| {% if text %}
				p(style="display: block; margin: 20px; font-size: 20px; line-height: 25px; color: #505050;")
					| {{ text }}
				| {% endif %}
				| {% if contact %}
				p(style="display: block; margin: 20px; font-size: 20px; line-height: 25px; color: #505050;")
					| Контакт: {{ contact }}
				| {% endif %}
				| {% if watchTime %}
				p(style="display: block; margin: 20px; font-size: 20px; line-height: 25px; color: #505050;")
					| Удобное время осмотра: {{ watchTime }}
				| {% endif %}
				| {% if number %}
				p(style="display: block; margin: 20px; font-size: 20px; line-height: 25px; color: #505050;")
					| Число водителей: {{ number }}
				| {% endif %}
				small(style="display: block; margin: 0 20px 10px; font-size: 18px; color: #808080;")
					| Время отправки:
					| {{ time }}
