header.main-header
	.main-header__wrap
		.main-header__logo
			span
				| Первый центр по оказанию предрейсовых услуг
				br
				| в Санкт-Петербурге

		.main-header__tel
			a.main-header__tel-number(href="tel:+78122442706")
				i.icon-phone
				| 8 (812) 244-27-06
			a.btn.btn--mobile-hidden.btn--small.btn--special.js-show-call-popup(href="#") Заказать обратный звонок


