header.main-header
	.main-header__wrap
		.main-header__logo
			img(src="/static/img/main-header/logo.png" alt="")
			span
				| Санкт-петербургский
				br
				| Геральдический
				br
				| Завод

		.main-header__address
			| Санкт-Петербург,
			br
			| пр. Елизарова 34, БЦ "KROL"
			br
			a(href="mailto:zakaz@geraldzavod.ru")
				i.icon-mail-alt
				| zakaz@geraldzavod.ru

		.main-header__tel
			a.main-header__tel-number(href="tel:+78122442706")
				i.icon-phone
				| 8 (812) 244-27-06
			a.main-header__tel-number(href="tel:+78007075164")
				i.icon-phone
				| 8 (800) 707-51-64
			a.btn.btn--mobile-hidden.btn--small.btn--special.js-show-call-popup(href="#") Заказать обратный звонок


