section.flex-block#flex
	.flex-block__wrap
		h3.flex-block__header
			| Важность проведения медосмотров
		.flex-block__list
			a.flex-block__item(href="#")
				img.flex-block__img(src="/static/img/flex-block/img-1.jpg" alt="Отзыв")
				p.flex-block__descr
					| Законодательство по проведению предрейсовых осмотров

			a.flex-block__item(href="#")
				img.flex-block__img(src="/static/img/flex-block/img-2.jpg" alt="Отзыв")
				p.flex-block__descr
					| Сводка из новостей
					br
					i «К чему приводит отсутствие проверки водителей»

			a.flex-block__item(href="#")
				img.flex-block__img(src="/static/img/flex-block/img-3.jpg" alt="Отзыв")
				p.flex-block__descr
					| Что проверяется на осмотре

