section.flex-block
	.flex-block__wrap
		h2.flex-block__header
			| Важность проведения медосмотров
		.flex-block__list
			a.flex-block__item(href="#")
				p.flex-block__descr
					| Законодательство по&nbsp;проведению предрейсовых осмотров
				span
					| прочесть
					span &#x276F;

			a.flex-block__item(href="#")
				p.flex-block__descr
					| Сводка из&nbsp;новостей
					br
					| «К&nbsp;чему приводит отсутствие проверки водителей»
				span
					| прочесть
					span &#x276F;

			a.flex-block__item(href="#")
				p.flex-block__descr
					| Что&nbsp;проверяется на&nbsp;осмотре?
				span
					| прочесть
					span &#x276F;

