.flex-block
	padding: 60px 0

	@media #{$mobile}
		padding: 40px 0

	&--team
		background: $seconadry-bg
		.flex-block
			&__list
				align-items: flex-start

			&__item
				border: none

			&__img
				margin-bottom: 40px

				width: 200px
				height: 200px
				border-radius: 50%

				overflow: hidden

				@media #{$laptop}
					width: 180px
					height: 180px

				@media #{$tablet}
					width: 120px
					height: 120px

					margin-bottom: 15px

				@media #{$mobile}
					width: 70px
					height: 70px

				@media #{$mobileSm}
					width: 90px
					height: 90px

				img
					display: block
					width: 100%

			&__descr
				font-size: $fontMd
				line-height: 20px
				margin-bottom: 20px
				color: $font-color
				font-family: $headers-font

				@media #{$tablet}
					font-size: $fontXSm
					line-height: 15px
					margin-bottom: 15px


	&__wrap
		@include wrap
		max-width: 960px

	&__header
		@include section_header

	&__list
		@include flex

		justify-content: space-around;
		flex-wrap: wrap

	&__item
		display: block
		width: 200px

		box-sizing: border-box

		overflow: hidden

		border: 1px solid $font-color

		@media #{$laptop}
			width: 180px

		@media #{$tablet}
			width: 120px

		@media #{$mobile}
			width: 23%
			flex-basis: 23%

		@media #{$mobileSm}
			width: 45%
			flex-basis: 45%
			margin-bottom: 20px

		img
			display: block
			width: 100%
