section.flex-block.flex-block--team#flex
	.flex-block__wrap
		h2.flex-block__header
			| Наша команда
		.flex-block__list
			.flex-block__item(href="#")
				img.flex-block__img(src="/static/img/team-section/one.jpg" alt="Менеджер по работе с клиентами")
				p.flex-block__descr
					| Наталья Сергеева
				p.flex-block__descr
					| Менеджер по работе с клиентами
			.flex-block__item(href="#")
				img.flex-block__img(src="/static/img/team-section/two.jpg" alt="Коммерческий директор")
				p.flex-block__descr
					| Ирина Чихачева
				p.flex-block__descr
					| Коммерческий директор
			.flex-block__item(href="#")
				img.flex-block__img(src="/static/img/team-section/three.jpg" alt="Начальник производства ")
				p.flex-block__descr
					| Евгений Голубев
				p.flex-block__descr
					| Начальник производства
			.flex-block__item(href="#")
				img.flex-block__img(src="/static/img/team-section/four.jpg" alt="Директор")
				p.flex-block__descr
					| Владислав Аксенов
				p.flex-block__descr
					| Директор
			.flex-block__item(href="#")
				img.flex-block__img(src="/static/img/team-section/five.jpg" alt="Помощник директора")
				p.flex-block__descr
					| Светлана Банчужная
				p.flex-block__descr
					| Помощник директора
