section.flex-block#flex
	.flex-block__wrap
		h2.flex-block__header
			| Отзывы о работе с нами
		.flex-block__list
			a.flex-block__item.js-show-img-popup(href="#")
				img.flex-block__img(src="/static/img/flex-block/img-1.jpg" alt="Отзыв")
			a.flex-block__item.js-show-img-popup(href="#")
				img.flex-block__img(src="/static/img/flex-block/img-2.jpg" alt="Отзыв")
			a.flex-block__item.js-show-img-popup(href="#")
				img.flex-block__img(src="/static/img/flex-block/img-3.jpg" alt="Отзыв")
			a.flex-block__item.js-show-img-popup(href="#")
				img.flex-block__img(src="/static/img/flex-block/img-4.jpg" alt="Отзыв")
