.flex-block
	padding: 120px 0 90px
	background: url(../img/flex-block/bg.png) center no-repeat
	background-size: contain

	&__wrap
		@include wrap
		padding: 0 5%

	&__header
		@include section_header
		margin-bottom: 90px

	&__list
		display: flex
		justify-content: space-around
		align-items: stretch

	&__item
		display: flex
		position: relative

		flex-direction: column
		justify-content: space-between

		width: 25%

		font-family: $bold-font

		&::before
			content: ""

			display: block

			width: 170px
			height: 170px

			margin: 0 auto 20px

			background: url(../img/flex-block/one.png) center no-repeat
			background-size: contain

		&:nth-of-type(2)::before
			background-image: url(../img/flex-block/two.png)

		&:nth-of-type(3)::before
			background-image: url(../img/flex-block/three.png)

		&:hover
			span
				color: $special-color

		& > span
			display: block
			text-align: right

			font-size: 18px
			line-height: 24px
			vertical-align: middle

			color: $akcent-color
			transition: $effect-time

			& > span
				font-size: 24px
				line-height: 24px
				vertical-align: middle

				transition: $effect-time
				margin-left: 10px

	&__descr
		font-size: 30px
		line-height: 34px
		color: $font-color

		margin-bottom: 20px

