section.flex-block
	.flex-block__wrap
		h2.flex-block__header
			| Прочитайте отзывы о работе с нами
		.flex-block__list
			.flex-block__item
				img.flex-block__img(src="/static/img/flex-block/img-1.jpg" alt="Отзыв")
			.flex-block__item
				img.flex-block__img(src="/static/img/flex-block/img-2.jpg" alt="Отзыв")
			.flex-block__item
				img.flex-block__img(src="/static/img/flex-block/img-3.jpg" alt="Отзыв")
			.flex-block__item
				img.flex-block__img(src="/static/img/flex-block/img-4.jpg" alt="Отзыв")
