.btn
	display: inline-block
	box-sizing: border-box
	text-align: center

	transition: $effect-time

	outline: none

	&:active
		transform: translateY(3px)

	@media #{$mobileSm}
		padding: 15px 20px
		font-size: $fontMicro

	&--main
		color: $akcent-color
		background: none
		border: 2px solid $akcent-color

		font-size: 16px
		line-height: 20px
		letter-spacing: 1px
		font-family: $semibold-font

		padding: 10px

		width: 250px

		&:hover
			background: $akcent-color
			color: $font-secondary-color

		@media #{$mobileSm}
			max-width: 270px

	&--special
		color: $akcent-bg
		background: $akcent-color
		border: none
		font-weight: 700

		&:hover
			background: lighten($akcent-color, 5%)

	&--small
		padding: 5px 15px
		font-weight: normal
		font-size: 12px
		line-height: 20px

		@media #{$laptop}
			padding: 3px 5px
			font-size: $fontMicro - 2

	&--mobile-hidden
		@media #{$mobile}
			display: none

	//&--popup
	//&--alt
	//&--secondary
