doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width")
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

		//SEO
		meta(name="description", content="")
		meta(name="keywords", content="")
		meta(name="author", content="")

		link(rel="stylesheet" href="/static/css/swiper.min.css")
		link(rel="stylesheet", href="/static/css/style.css")
		link(rel="slylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700&subset=cyrillic")
		link(href="https://fonts.googleapis.com/css?family=Playfair+Display+SC:400,700&amp;subset=cyrillic" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=PT+Serif&amp;subset=cyrillic")

		title
			block title

	body
		.container
			block main-content

			.overlay

			script(src="/static/js/libs.js")
			script(src="/static/js/swiper.min.js")
			script(src="/static/js/main.js")

			// Yandex.Metrika counter
			script(type="text/javascript")
				| (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter41243534 = new Ya.Metrika({ id:41243534, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");
			noscript
				div
					img(src="https://mc.yandex.ru/watch/41243534" style="position:absolute; left:-9999px;" alt="")

			// Piwik
			script(type="text/javascript")
				| var _paq = _paq || [];
				| // tracker methods like "setCustomDimension" should be called before "trackPageView"
				| _paq.push(['trackPageView']);
				| _paq.push(['enableLinkTracking']);
				| (function() {
				| 	var u="//stat.z-gu.ru/";
				|		_paq.push(['setTrackerUrl', u+'piwik.php']);
				|		_paq.push(['setSiteId', '28']);
				|		var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
				|		g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
				|	})();

			noscript
				p
					img(src="//stat.z-gu.ru/piwik.php?idsite=28&rec=1" style="border:0;" alt="")
			// End Piwik Code
