section.main-screen
	.main-screen__wrap
		.main-screen__img
			img(src="/static/img/main-screen/img.jpg" alt="")
		h1.main-screen__header
			| Изготовление значков, медалей и&nbsp;монет
			br
			em с&nbsp;доставкой по&nbsp;всей России
			small Собственное производство с&nbsp;гарантией сроков
	.main-screen__actions
		header
			| Оставьте заявку и получите разработку макета&nbsp;
			em бесплатно
		form.form.form--column.form--small
			input.form__input(type="text" placeholder="Ваше имя")
			input.form__input(type="tel" placeholder="Ваш номер телефона")
			input.form__input(type="mail" placeholder="Ваш email")
			input.btn.btn--main(type="submit" placeholder="Получить макет")

