section.main-screen
	.main-screen__wrap
		h1.main-screen__header
			| Проводим предрейсовые и послерейсовые медицинские осмотры в Санкт-Петербурге

		.main-screen__actions
			.main-screen__actions-left
				ul.main-screen__adv
					li Работаем 24/7
					li Как на вашей, так и своей территории
					li В наличии все необходимые лицензии
				.main-screen__actions-img
					img(src="/static/img/main-screen/maket.jpg")

			.main-screen__actions-right
				form.form.form--column.form--small(action="/count" method="post" data-succmsg="Мы получили вашу заявку. Наш менеджер скоро свяжется с Вами!")

					header.form__header
						| Оставьте заявку на расчёт цены осмотра

					label.form__label
						p Ваши контактные данные&nbsp;
							em (обязательно)
						input.form__input.form__input--name(type="text" name="contact" placeholder="Телефон или email")

					label.form__label
						p Режим осмотра
						input.form__input(type="text" name="time" placeholder="Частота и дни недели")

					label.form__label
						p Количество водителей
						input.form__input(type="number" name="number" placeholder="Число")

					button.btn.btn--main(type="submit") Рассчитать цену осмотра

