section.main-screen#main-screen
	.main-screen__wrap.main-screen__wrap--left
		h1.main-screen__header
			| Спасибо за оказанное доверие!
			small Мы свяжемся с Вами в ближайшее время.
			small Если у Вас есть срочный вопрос, звоните нам по телефону&nbsp;
				em 8 (812) 244-27-06
			small
				a.btn.btn--main(href="/.") Вернуться на главную
