.main-screen
	display: block
	position: relative

	background: #f0f0f0

	&__wrap
		@include wrap

		padding: 60px 0

		text-align: center

		@media #{$laptop}
			padding: 20px 20px 0

		@media #{$tablet}
			padding: 30px 20px 0

		@media #{$mobileSm}
			padding: 20px 20px 0

	&__header
		@include page_header

	&__img
		width: 33%

		display: inline-block
		vertical-align: middle

		transition: $effect-time

		&--animated
			opacity: 0

		@media #{$tablet}
			width: 50%

		@media #{$mobile}
			width: 95%

		img
			display: block
			width: 100%

	&__actions
		display: block

		box-sizing: border-box

		text-align: center

		@media #{$laptop}
			margin-top: 20px

		@media #{$tablet}
			margin-top: 30px
			padding: 40px 20px

			text-align: center

		@media #{$mobile}
			padding: 20px 15px

		&-left,
		&-right
			display: inline-block

			width: 45%
			min-width: 270px

			vertical-align: top

		&-img
			display: block

			max-width: 270px
			margin: 0 auto

			img
				display: inline-block
				width: 100%

	&__adv
		display: block

		padding: 0
		margin: 0 0 60px

		text-align: left
		font-size: 24px

		li
			margin-bottom: 30px

			&:last-of-type
				margin-bottom: 0
