section.main-screen
	.main-screen__wrap

		.main-screen__left
			.main-screen__left-wrap
				.main-screen__top
					p
						| Первый центр по оказанию
						br
						| предрейсовых услуг в Санкт-Петербурге

				h1.main-screen__header
					| Проводим предрейсовые и послерейсовые
					em медицинские осмотры в Санкт-Петербурге

				ul.main-screen__info
					li
						span Работаем 24/7
					li
						span Как на вашей, так и своей территории
					li
						span В наличии все необходимые лицензии

		.main-screen__right
			.main-screen__right-wrap
				.main-screen__top
					a.main-screen__tel(href="tel:+78128557575") +7 (812) 855-75-75
					br
					a.main-screen__btn(href="#") Заказать звонок

				.main-screen__right-content
					h2.main-screen__right-header
						span Оставьте заявку на расчёт цены осмотра

					.main-screen__form
						form(action="/count" method="post" data-succmsg="Мы получили вашу заявку. Наш менеджер скоро свяжется с Вами!")

							label
								p Ваши контактные данные *
								input(type="text" name="contact" placeholder="Телефон или email")

							label
								p Режим осмотра
								input(type="text" name="time" placeholder="Частота и дни недели")

							label
								p Количество водителей
								input(type="number" name="number" placeholder="Число")

							button.btn.btn--main(type="submit") Рассчитать цену осмотра

