section.main-screen#main-screen
	.main-screen__wrap
		.main-screen__img
			img(src="/static/img/main-screen/1.jpg" alt="Изготовление значков, медалей и монет с доставкой по всей России")
		h1.main-screen__header
			| Изготовление значков, медалей и&nbsp;монет
			br
			em с&nbsp;доставкой по&nbsp;всей России
			small Собственное производство с&nbsp;гарантией сроков
	.main-screen__actions
		header
			| Получите разработку макета&nbsp;
			em бесплатно
			img(src="/static/img/main-screen/maket.jpg")
		.main-screen__actions-right
			form.form.form--column.form--small(action="/get-maket" method="post" data-succmsg="Мы получили вашу заявку. Наш менеджер скоро свяжется с Вами!")
				input.form__input.form__input--name(type="text" name="name" placeholder="Ваше имя")
				input.form__input(type="tel" name="phone" placeholder="Ваш номер телефона")
				input.form__input(type="mail" name="email" placeholder="Ваш email")
				input.btn.btn--main(type="submit" value="Получить макет")

