.main-screen
	display: block
	position: relative

	&__wrap
		@include wrap

		display: flex
		justify-content: center
		align-items: stretch

	&__left,
	&__right
		display: block
		position: relative

		width: 50%
		flex: 1 1 50%

		display: flex

	&__left
		background: url(../img/main-screen/left-bg.jpg)
		background-size: cover
		justify-content: flex-end

		&::before
			content: ""

			display: block
			position: absolute

			right: 0
			top: 50%
			transform: translate(50%, -50%)

			width: 360px
			height: 412px

			background: url(../img/main-screen/icon.png) center no-repeat
			background-size: contain

	&__left-wrap,
	&__right-wrap
		max-width: 700px
		width: 100%

	&__left-wrap
		padding-left: 10%

	&__top
		padding: 25px

		text-align: right

		&--left
			padding: 25px 20px

		&--right
			width: 90%

		p
			font-size: 18px
			line-height: 25px

			vertical-align: middle
			color: #fff

	&__header
		@include page_header

	&__info
		display: block

		padding: 0
		margin: 0

		text-align: left
		line-height: 30px
		font-size: 24px
		font-family: $semibold-font

		li
			display: block
			margin-bottom: 20px

			&:last-of-type
				margin-bottom: 0

			&:nth-of-type(2) span:first-of-type::before
				clip: rect(0, 44px, 44px, 22px)

			&:nth-of-type(3)
				span:first-of-type
					border-color: rgb(255, 255, 255)

					&::before
						clip: rect(0, 22px, 22px, 0)
						border-color: rgba(255, 255, 255, .5)

			span:first-of-type
				display: inline-block
				position: relative

				box-sizing: border-box

				margin-right: 30px

				width: 44px
				height: 44px

				font-size: 0

				border: 7px solid rgba(255, 255, 255, .5)
				border-radius: 50%

				&::before
					content: ""

					display: block
					position: absolute

					box-sizing: border-box

					left: -7px
					top: -7px

					width: 44px
					height: 44px

					border: 7px solid rgb(255, 255, 255)
					border-radius: 50%

					clip: rect(0, 44px, 22px, 22px)

			span
				vertical-align: middle

	&__tel
		display: inline-block

		font-size: 24px
		line-height: 30px
		letter-spacing: 1px
		vertical-align: middle

		font-family: $bold-font

		color: $font-color
		text-decoration: none

	&__btn
		display: inline-block

		font-size: 14px
		line-height: 20px
		vertical-align: middle

		font-family: $semibold-font

		padding-left: 5px
		border-left: 7px solid $akcent-color

		color: $font-color
		text-decoration: none

		transition: .3s

		&:hover
			background-color: $akcent-color

	&__right-content
		background: url(../img/main-screen/right-bg.jpg)
		background-size: cover

	&__right-header
		display: block

		padding: 125px 0 110px 160px
		margin: 0

		background: url(../img/main-screen/square.png) no-repeat 0 center
		background-size: 50%

		font-size: 34px
		line-height: 40px

		font-family: $bold-font

	&__form
		display: block
		text-align: right

		form
			display: inline-block
			position: relative

			width: 50%
			box-sizing: border-box

			padding: 20px 50px

			background-color: $font-color
			text-align: center

			font-size: 18px
			line-height: 20px
			color: $font-secondary-color

			&::before
				content: ""

				display: block
				position: absolute

				left: 0
				top: 50%

				width: 60px
				height: 60px

				transform: translate(-30%, -50%)

				background: url(../img/main-screen/triangle.png) no-repeat 0 center
				background-size: contain

		label
			display: block
			margin-bottom: 20px

		input
			display: block

			line-height: 40px

			width: 250px
			margin: 5px auto 0

			font-family: $semibold-font

			background-color: rgba(255, 255, 255, .5)
			border: none

			color: $font-color
			text-align: center

			outline: $akcent-color

			&::placeholder
				color: $font-color
				text-align: center
