section.main-screen
	.main-screen__wrap
		.main-screen__img
			img(src="/static/img/main-screen/img.jpg" alt="")
		h1.main-screen__header
			| Изготавливаем нагрудные знаки, медали, монеты и награды&nbsp;
			em по&nbsp;индивидуальным эскизам
			br
			small Бесплатно доставим в любые регионы&nbsp;России
		.main-screen__actions
			input.main-screen__input(type="text" placeholder="Введите ваш номер телефона")
			a.btn.btn--main(href="#") Оставьте заявку на расчет стоимости и бесплатный макет

