extends ../base

block title
	| Стол река, стол лофт, мебель эко, мебель из массива

block main-content
	section.category-section.category-section--page-section
		.category-section__wrap
			header.category-section__header
				| НАША КОЛЛЕКЦИЯ
			ul.category-section__list
				li.category-section__item
					a.category-section__link
						.category-section__img
							img(src="./static/img/categories/goods.jpg" alt="Стол River")
						.category-section__text
							h2.category-section__name
								| Стол River
							span.category-section__price
								| 39.000 руб.

				li.category-section__item
					a.category-section__link
						.category-section__img
							img(src="./static/img/categories/goods-2.jpg" alt="Стол iceWall")
						.category-section__text
							h2.category-section__name
								| Стол iceWall
							span.category-section__price
								| 23.000 руб.

				li.category-section__item
					a.category-section__link
						.category-section__img
							img(src="./static/img/categories/goods-3.jpg" alt="Mr. Deer")
						.category-section__text
							h2.category-section__name
								| Mr. Deer
							span.category-section__price
								| 2.900 руб.
