extends ../base

block title
	| Стол река, стол лофт, мебель эко, мебель из массива

block main-content
	section.contacts-section
		.contacts-section__wrap
			header.contacts-section__header
				| Напишите нам
			.contacts-section__flex
				.contacts-section__left
					form.contacts-section__form(action="" method="post")
						input(type="text", name="name", placeholder="Имя")
						input(type="email", name="email", placeholder="Email")
						input(type="text", name="theme", placeholder="Тема")
						textarea(rows="5" placeholder="Сообщение")
						input.contacts-section__submit(type="submit", value="Написать")
				.contacts-section__right
					p.contacts-section__info
						| Санкт-Петербург, Россия
					p.contacts-section__info
						a.contacts-section__link(href="mailto:inforekadesign@gmail.com")
							| inforekadesign@gmail.com
						a.contacts-section__link(href="tel:+79112554012")
							| | +79112554012
