extends ../base

block title
	| Стол река, стол лофт, мебель эко, мебель из массива

block main-content
	section.faq-section
		.faq-section__wrap
			header.faq-section__header
				| FAQ
			ul.faq-section__list
				li.faq-section__item
					h3.faq-section__question(href="#")
						| Что мы делаем?
					p.faq-section__answer
						| Мы делаем красивую мебель и предметы интерьера

				li.faq-section__item
					h3.faq-section__question(href="#")
						| Как заказать у нас мебель?
					p.faq-section__answer
						| Свяжитесь с нами любым удобным способом и расскажите,что вы хотите заказать.Также Вы можете выслать нам фото, и мы расчитаем Вам стоимость в течение 24 часов.

				li.faq-section__item
					h3.faq-section__question(href="#")
						| Чем мы хороши?
					p.faq-section__answer
						| Мы придерживаемся умеренных цен на свои изделия и отвечаем за их качество. Мы индивидуально подходим к выполнению каждого заказа и принимаем к сведению все пожелания заказчика.

				li.faq-section__item
					h3.faq-section__question(href="#")
						| Как происходит оплата?
					p.faq-section__answer
						| Мы берем предоплату в размере 20% от стоимости заказа, остальная часть оплачивается при получении заказа. Если изделие в наличии, то оплата производится при получении Вами заказа.
