extends ../base

block title
	| Стол река, стол лофт, мебель эко, мебель из массива

block main-content
	section.goods-card
		.goods-card__wrap
			.goods-card__slider
				ul.goods-card__slides
					li.goods-card__slides-item
						a.goods-card__slides-link.goods-card__slides-link--active
							img(src="static/img/goods-card/goods-item-1/slide-1.jpg" alt="")
					li.goods-card__slides-item
						a.goods-card__slides-link
							img(src="static/img/goods-card/goods-item-1/slide-2.jpg" alt="")
				.goods-card__slide-current
					img(src="static/img/goods-card/goods-item-1/slide-1.jpg" alt="")
			.goods-card__description
				header.goods-card__descr-name
					| Стол iceFall
				p.goods-card__descr-price
					| 23.000руб
				p.goods-card__descr-text
					| Материал - ясень,  каленое стекло, подстолье из металла. Покрытие -  масло, воск.
				form.goods-card__form(action="" method="post")
					label.goods-card__form-label
						| Закажите такой же по Вашим размерам (укажите по желанию)
						input.goods-card__form-input(type="text" placeholder="До 500 символов")
					label.goods-card__form-label
						| Количество
						select.goods-card__form-input()
							option 2
					input.goods-card__form-submit(type="submit" value="Заказать")

	section.goods-descr
		.goods-descr__wrap
			.goods-descr__column
				header.goods-descr__header
					| О товаре
				p.goods-descr__par
					| Материал - Ясень,  каленое стекло, подстолье из металла. Покрытие -  масло, воск.
			.goods-descr__column
				header.goods-descr__header
					| Стол на заказ
				p.goods-descr__par
					| Напишите нам размер стола, цвет дерва и стекла, который вы хотите и мы вышлем Вам расчет на изделие в течение 24 часов.
