head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width")
	link(rel="shortcut icon", href="./static/favicon.ico", type="image/x-icon")

	//SEO
	meta(name="description", content="Создание веб сайта за 3000 рублей. Конструктор landing Page от веб студии. Настройка контекстной рекламы и продвижение сайта.")
	meta(name="author", content="jokerinteractive.ru")

	link(rel="stylesheet", href="./static/css/style.min.css")
	link(rel="slylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700&subset=cyrillic")
