section.works
	.works__wrap
		h2.works__title
			| Наши работы
		.works__item
			.works__description
				.works__desc
					h3.works__desc-title Дизайнерские работы
					h4.works__desc-title2 Цена:
					p от
						span.works__price 20&nbsp;000р
					h4.works__desc-title2 Срок изготовления:
					p от двух недель
				.works__desc
					h3.works__desc-title Что было сделано
					ul.works__list
						li заявка
						li замер
						li 3D модель
						li изготовление
						li доставка
				a.btn.btn--main(href="") Хочу такой же проект
			.works__photos
				h3.works__desc-title Фото по проекту
				a.works__photo(href="")
					img(src="", alt="")
				a.works__photo(href="")
					img(src="", alt="")
				a.works__photo(href="")
					img(src="", alt="")
				a.works__photo(href="")
					img(src="", alt="")
