.btn
	display: inline-block
	padding: 20px 30px

	box-sizing: border-box

	text-transform: uppercase
	letter-spacing: 1px
	font-size: $fontXSm
	font-weight: bold
	text-align: center

	background: transparent
	border: 1px solid $border-color

	transition: $effect-time
	outline: none

	@media #{$tablet}
			padding: 15px 25px

	@media #{$mobile}
			padding: 15px 20px

	&:active
		transform: translateY(3px)

	&--main
		color: $secondary-color
		background: $akcent-color
		border-color: $akcent-color
		font-weight: 700
		padding: 20px 45px
		font-size: $fontSm

		@media #{$tablet}
			padding: 15px 30px

		@media #{$mobile}
			padding: 15px 25px
			font-size: $fontXSm

		&:hover
			background: lighten($akcent-color, 10%)

	&--popup
		width: 270px
		padding: 20px 0
		margin-bottom: 30px

		// FIXME: марджины криво настроены

		&:last-of-type
			margin-bottom: 0

		&.btn--main
			margin-bottom: 30px

	&--alt
		border: none
		color: $font-secondary-color
		font-weight: 400

	&--secondary
		&:hover
			background: $border-color

	&--special
		display: inline-block
		padding: 10px 15px
		color: $akcent-color
		border-color: $akcent-color
		font-weight: 400
		font-size: $fontSm

		@media #{$tablet}
			font-size: $fontXSm

		&:hover
			background-color: $akcent-color
			color: $secondary-color

	&--big
		padding: 15px 25px

		@media #{$tablet}
			padding: 10px 20px

	&--small
		font-size: $fontXSm
		padding: 8px 15px

	&--mobile-only
		display: none

		@media #{$mobile}
			display: inline-block
