
<footer class="main-footer">
  <div class="main-footer__top">
    <div class="main-footer__wrap main-footer__wrap--top">
      <div class="main-footer__section"><a class="main-footer__logo" href="/">#ХочуКрутойСайт</a>
        <p class="main-footer__text">Простое решение для быстрого запуска бизнеса в он-лайн.</p>
      </div>
      <div class="main-footer__section">
        <header class="main-footer__header">Новости</header>
        <p class="main-footer__text">Подпишитесь. Мы будем делиться опытом и рассказывать о новых продуктах и спецпредложениях.</p>
        <form class="form--footer" action="" method="post">
          <input class="form__input" type="text" placeholder="Ваш Email" required>
          <input class="form__submit" type="submit" value="">
        </form>
      </div>
    </div>
  </div>
  <div class="main-footer__bottom">
    <div class="main-footer__wrap main-footer__wrap--bottom">
      <div class="main-footer__bottom-left">Jokerinteractive © 2016</div>
      <div class="main-footer__bottom-right">
        <ul class="socials">
          <li class="socials__item"><a class="socials__link" href="#"><i class="socials__icon socials__icon--fb"></i></a></li>
          <li class="socials__item"><a class="socials__link" href="#"><i class="socials__icon socials__icon--vk"></i></a></li>
          <li class="socials__item"><a class="socials__link" href="#"><i class="socials__icon socials__icon--inst"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
