<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<!--SEO-->
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="">
		<link rel="stylesheet" href="/static/css/style.min.css">
		<link rel="slylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700&amp;subset=cyrillic">
		<link rel="stylesheet" href="/static/css/swiper.min.css">
		<link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC:400,700&amp;amp;subset=cyrillic" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=PT+Serif&amp;amp;subset=cyrillic">
		<title>Крутой сайт за 3000 рублей
		</title>
	</head>
	<body>
		<div class="container">
			<div class="main-nav">
				<ul class="main-nav__list">
					<li class="main-nav__item"><a class="main-nav__link" href="#">Главная</a></li>
					<li class="main-nav__item"><a class="main-nav__link" href="#">Изделия</a></li>
					<li class="main-nav__item"><a class="main-nav__link" href="#">Опыт</a></li>
					<li class="main-nav__item"><a class="main-nav__link" href="#">Качество</a></li>
					<li class="main-nav__item"><a class="main-nav__link" href="#">Клиенты</a></li>
				</ul>
			</div>
			<header class="main-header">
				<div class="main-header__wrap">
					<div class="main-header__logo"><img src="/static/img/main-header/logo.png" alt=""><span>Санкт-петербургский<br>Геральдический<br>Завод</span></div>
					<div class="main-header__address">Санкт-Петербург,<br>пр. Елизарова 34, БЦ "KROL"<br><a href="mailto:zakaz@geraldzavod.ru">zakaz@geraldzavod.ru</a></div>
					<div class="main-header__tel"><a class="main-header__tel-number" href="tel:+78122442706">8 (812) 244-27-06</a><a class="main-header__tel-number" href="tel:+78007075164">8 (800) 707-51-64</a><a class="btn btn--small btn--special" href="#">Заказать обратный звонок</a></div>
				</div>
			</header>
			<section class="main-screen">
				<div class="main-screen__wrap">
					<div class="main-screen__img"><img src="/static/img/main-screen/img.jpg" alt=""></div>
					<h1 class="main-screen__header">Изготавливаем нагрудные знаки, медали, монеты и награды&nbsp;<em>по&nbsp;индивидуальным эскизам</em><br><small>Бесплатно доставим в любые регионы&nbsp;России</small></h1>
					<div class="main-screen__actions">
						<input class="main-screen__input" type="text" placeholder="Введите ваш номер телефона"><a class="btn btn--main" href="#">Оставьте заявку на расчет стоимости и бесплатный макет</a>
					</div>
				</div>
			</section>
			<section class="services-list">
				<div class="services-list__wrap">
					<h2 class="services-list__header">Выберите желаемое изделие</h2>
					<ul class="services-list__list">
						<li class="services-list__item"><a class="services-list__link" href="#">Нагрудные знаки</a></li>
						<li class="services-list__item"><a class="services-list__link" href="#">Медали на колодке</a></li>
						<li class="services-list__item"><a class="services-list__link" href="#">Значки, фрачники</a></li>
						<li class="services-list__item"><a class="services-list__link" href="#">Спортивные медали</a></li>
						<li class="services-list__item"><a class="services-list__link" href="#">Изделия из Драгоценных металлов</a></li>
						<li class="services-list__item"><a class="services-list__link" href="#">Монеты</a></li>
						<li class="services-list__item"><a class="services-list__link" href="#">Брелки</a></li>
						<li class="services-list__item"><a class="services-list__link" href="#">Подарочные футляры</a></li>
					</ul>
				</div>
			</section>
			<section class="portfolio">
				<div class="swiper-container portfolio__top">
					<div class="swiper-wrapper">
						<div class="swiper-slide" style="background-image:url(/static/img/portfolio/1.jpg)">
							<div class="portfolio__text">
								<h3 class="portfolio__text-header">30 000<small>изделий<br>в месяц</small></h3>
							</div>
						</div>
						<div class="swiper-slide" style="background-image:url(/static/img/portfolio/2.jpg)">
							<div class="portfolio__text">
								<h3 class="portfolio__text-header portfolio__text-header--small">Ювелирное<br>литье</h3>
								<p>Отливаем изделие любой формы<br>из серебра, золота, латуни или мельхиора</p>
							</div>
						</div>
						<!--.swiper-slide(style="background-image:url(http://lorempixel.com/1200/1200/nature/1)")
						.portfolio__text
							h3.portfolio__text-header
								| Ручная доработка
							p
								| Все штампы дорабатываются вручную в соответствии с традициями монетного двора, что обеспечивает максимальное качество и детализацию изделия
						
						-->
						<!--.swiper-slide(style="background-image:url(http://lorempixel.com/1200/1200/nature/1)")
						.portfolio__text
							h3.portfolio__text-header
								| До 4000
								small
									| изделий
									br
									| в день
							p Штампует наш чеканочный пресс усилием 400 тонн
						
						-->
						<div class="swiper-slide" style="background-image:url(/static/img/portfolio/3.jpg)">
							<div class="portfolio__text">
								<h3 class="portfolio__text-header portfolio__text-header--small">Автоматизированная<br>полировка</h3>
								<p>Уменьшает ручной труд<br>и снижает стоимость конечного продукта</p>
							</div>
						</div>
						<div class="swiper-slide" style="background-image:url(/static/img/portfolio/4.jpg)">
							<div class="portfolio__text">
								<h3 class="portfolio__text-header">До 8000<small>заготовок<br>за смену</small></h3>
								<p>Производит наш вырубной пресс усилием 25 тонн</p>
							</div>
						</div>
					</div>
					<!-- Add Arrows-->
					<div class="swiper-button-next swiper-button-white"></div>
					<div class="swiper-button-prev swiper-button-white"></div>
				</div>
				<div class="swiper-container portfolio__thumbs">
					<div class="swiper-wrapper">
						<div class="swiper-slide swiper-slide--thumbs" style="background-image:url(/static/img/portfolio/1.jpg)"></div>
						<div class="swiper-slide swiper-slide--thumbs" style="background-image:url(/static/img/portfolio/2.jpg)"></div>
						<div class="swiper-slide swiper-slide--thumbs" style="background-image:url(/static/img/portfolio/3.jpg)"></div>
						<div class="swiper-slide swiper-slide--thumbs" style="background-image:url(/static/img/portfolio/4.jpg)"></div>
					</div>
				</div>
			</section>
			<div class="call-to-action">
				<div class="call-to-action__wrap">
					<div class="call-to-action__header">Ваш&nbsp;заказ будет эксклюзивным. Мы&nbsp;прописываем в&nbsp;договоре, что&nbsp;не&nbsp;продаем продукцию третьим&nbsp;лицам.</div><a class="btn btn--main btn--js-tech" href="#">Ознакомьтесь с договором</a>
				</div>
			</div>
			<section class="person-block">
				<div class="person-block__wrap">
					<div class="person-block__left">
						<header class="person-block__header">Над Вашим эскизом будет работать профессиональный художник</header>
						<div class="person-block__desc">Виктор Жеравин - победитель в 3 дизайнерских конкурсах:
							<ul>
								<li>Дизайнерский конкурс</li>
								<li>Дизайнерский конкурс</li>
								<li>Дизайнерский конкурс</li>
							</ul>
							По вашему техническому заданию он подготовит эксклюзивный эскиз.
							Ознакомьтесь с примерами его эскизов ниже.
						</div>
						<div class="person-block__gallery"><a class="person-block__gallery-img" href="#"><img src="/static/img/person-block/img-1-sm.jpg" alt=""></a><a class="person-block__gallery-img" href="#"><img src="/static/img/person-block/img-2-sm.jpg" alt=""></a><a class="person-block__gallery-img" href="#"><img src="/static/img/person-block/img-3-sm.jpg" alt=""></a></div>
					</div>
					<div class="person-block__right">
						<div class="person-block__img"><img src="/static/img/person-block/artist.jpg" alt="профессиональный художник Виктор Жеравин"></div>
					</div>
				</div>
			</section>
			<div class="call-to-action">
				<div class="call-to-action__wrap">
					<div class="call-to-action__header">Введите свою&nbsp;почту и&nbsp;мы&nbsp;вышлем&nbsp;вам техническое задание на&nbsp;производство</div>
					<div class="form form--cta">
						<input class="form__input" type="email" placeholder="Введите Ваш email">
						<input class="btn btn--main" type="submit" value="Получите техническое задание на производство">
					</div>
				</div>
			</div>
			<section class="result">
				<div class="result__wrap">
					<div class="result__left">
						<div class="result__work"><img src="/static/img/result/work.jpg"></div>
					</div>
					<div class="result__right">
						<h2 class="result__header">Изготовленные нагрудные знаки</h2>
						<div class="result__descr">
							<header>Значки к зимней олимпиаде в Сочи 2014</header>
							<p class="result__descr-material">Материал: Нейзильбер и латунь</p>
							<p class="result__descr-number">Тираж 2014 шт</p>
						</div>
						<div class="result__slides"><a class="result__slides-item result__slides-item--active" href="#" data-header="Значки к зимней олимпиаде в Сочи 2014" data-material="Нейзильбер и латунь" data-number="2014 шт"><img src="/static/img/result/work.jpg"></a><a class="result__slides-item" href="#" data-header="Значки «55 лет ЭС г. Салават»" data-material="Серебро 925 и латунь с позолотой" data-number="80 шт"><img src="/static/img/result/work-12.jpg"></a><a class="result__slides-item" href="#" data-header="Значки «Аксалта»" data-material="Серебро 925 и серебро 925 с позолотой" data-number="100 шт"><img src="/static/img/result/work-13.jpg"></a></div>
					</div>
				</div>
			</section>
			<section class="result">
				<div class="result__wrap">
					<div class="result__left">
						<div class="result__work"><img src="/static/img/result/work-21.jpg"></div>
					</div>
					<div class="result__right">
						<h2 class="result__header">Изготовленные медали</h2>
						<div class="result__descr">
							<header>Медаль «Куликово поле»</header>
							<p class="result__descr-material">Материал: Цинк с покрытием медью</p>
							<p class="result__descr-number">Тираж 120 шт</p>
						</div>
						<div class="result__slides"><a class="result__slides-item result__slides-item--active" href="#" data-header="Медаль «Куликово поле»" data-material="Цинк с покрытием медью" data-number="120 шт"><img src="/static/img/result/work-21.jpg"></a><a class="result__slides-item" href="#" data-header="Медаль «50 лет академии ФСО»" data-material="Латунь" data-number="3500 шт"><img src="/static/img/result/work-22.jpg"></a><a class="result__slides-item" href="#" data-header="Медаль «70 лет Калининграду»" data-material="Латунь" data-number="7700 шт"><img src="/static/img/result/work-23.jpg"></a></div>
					</div>
				</div>
			</section>
			<section class="result">
				<div class="result__wrap">
					<div class="result__left">
						<div class="result__work"><img src="/static/img/result/work-31.jpg"></div>
					</div>
					<div class="result__right">
						<h2 class="result__header">Изготовленные фрачники</h2>
						<div class="result__descr">
							<header>Фрачник «РССУ 50 лет»</header>
							<p class="result__descr-material">Материал: Латунь</p>
							<p class="result__descr-number">Тираж 500 шт</p>
						</div>
						<div class="result__slides"><a class="result__slides-item result__slides-item--active" href="#" data-header="Фрачник «РССУ 50 лет»" data-material="Латунь" data-number="500 шт"><img src="/static/img/result/work-31.jpg"></a><a class="result__slides-item" href="#" data-header="Фрачник «РССУ 50 лет»" data-material="Серебро 925 с позолотой" data-number="500 шт"><img src="/static/img/result/work-32.jpg"></a><a class="result__slides-item" href="#" data-header="Фрачник «Инженерно-технический факультет ВИТУ»" data-material="Серебро 925 и серебро 925 с позолотой" data-number="20 шт"><img src="/static/img/result/work-33.jpg"></a></div>
					</div>
				</div>
			</section>
			<section class="flex-block">
				<div class="flex-block__wrap">
					<h2 class="flex-block__header">Прочитайте отзывы о работе с нами</h2>
					<div class="flex-block__list">
						<div class="flex-block__item"><img class="flex-block__img" src="/static/img/flex-block/img-1.jpg" alt="Отзыв"></div>
						<div class="flex-block__item"><img class="flex-block__img" src="/static/img/flex-block/img-2.jpg" alt="Отзыв"></div>
						<div class="flex-block__item"><img class="flex-block__img" src="/static/img/flex-block/img-3.jpg" alt="Отзыв"></div>
						<div class="flex-block__item"><img class="flex-block__img" src="/static/img/flex-block/img-4.jpg" alt="Отзыв"></div>
					</div>
				</div>
			</section>
			<section class="services-list services-list--alt">
				<div class="services-list__wrap">
					<h2 class="services-list__header">За 2&nbsp;года мы&nbsp;приняли участие в&nbsp;более чем 150&nbsp;государственных тендерах и исполнили 32&nbsp;госконтракта.</h2>
					<ul class="services-list__list">
						<li class="services-list__item"><a class="services-list__link" href="http://www.zakupki.gov.ru/epz/contract/contractCard/payment-info-and-target-of-order.html?reestrNumber=3390301679016000019" target="_blank">Изготовление медалей «70&nbsp;лет Калининграду»</a></li>
						<li class="services-list__item"><a class="services-list__link" href="http://www.zakupki.gov.ru/epz/contract/contractCard/common-info.html?reestrNumber=3290401600816000018" target="_blank">Изготовление и&nbsp;поставка нагрудного знака «Почетный гражданин МО&nbsp;«Котлас»</a></li>
						<li class="services-list__item"><a class="services-list__link" href="http://www.zakupki.gov.ru/epz/contract/contractCard/payment-info-and-target-of-order.html?reestrNumber=2027413693416000029" target="_blank">Изготовление медалей для&nbsp;администрации города&nbsp;Уфа</a></li>
						<li class="services-list__item"><a class="services-list__link" href="http://www.zakupki.gov.ru/epz/contract/contractCard/common-info.html?reestrNumber=2027413693415000098" target="_blank">Изготовление ордена «Дружба&nbsp;народов»</a></li>
						<li class="services-list__item"><a class="services-list__link" href="http://www.zakupki.gov.ru/epz/contract/contractCard/common-info.html?reestrNumber=2770401203715000033" target="_blank">Изготовление сувенирных монет «Знаки Зодиака»</a></li>
						<li class="services-list__item"><a class="services-list__link" href="http://www.zakupki.gov.ru/epz/contract/contractCard/common-info.html?reestrNumber=1666000830315000012" target="_blank">Изготовление медалей для&nbsp;УО&nbsp;РАН</a></li>
						<li class="services-list__item"><a class="services-list__link" href="http://www.zakupki.gov.ru/epz/contract/contractCard/payment-info-and-target-of-order.html?reestrNumber=3543900001315000023" target="_blank">Поставка наградных комплектов: медалей «За&nbsp;вклад в&nbsp;развитие Убинского&nbsp;района»</a></li>
						<li class="services-list__item"><a class="services-list__link" href="http://www.zakupki.gov.ru/epz/contract/contractCard/common-info.html?reestrNumber=2027413693415000041" target="_blank">Изготовление медалей для&nbsp;администрации города&nbsp;Уфа</a></li>
						<li class="services-list__item"><a class="services-list__link" href="http://www.zakupki.gov.ru/epz/contract/contractCard/common-info.html?reestrNumber=0102200001514000020" target="_blank">Изготовление нагрудных знаков и&nbsp;медалей для&nbsp;Минспорта Республики&nbsp;Бурятия</a></li>
						<li class="services-list__item"><a class="services-list__link" href="http://www.zakupki.gov.ru/epz/contract/contractCard/common-info.html?reestrNumber=0347200004214000071" target="_blank">Изготовление нагрудных знаков для&nbsp;пожарно-спасательного центра г.&nbsp;Магадан</a></li>
						<li class="services-list__item"><a class="services-list__link" href="http://www.zakupki.gov.ru/epz/contract/contractCard/common-info.html?reestrNumber=0156200004914000031" target="_blank">Изготовление нагрудных знаков «Ветеран труда Пермского&nbsp;края»</a></li>
						<li class="services-list__item"><a class="services-list__link" href="http://www.zakupki.gov.ru/epz/contract/contractCard/payment-info-and-target-of-order.html?reestrNumber=0148200005014000064" target="_blank">Изготовление наградного комплекта «Сергий&nbsp;Радонежский»</a></li>
						<li class="services-list__item"><a class="services-list__link" href="http://www.zakupki.gov.ru/epz/contract/contractCard/common-info.html?reestrNumber=0122200001014000334" target="_blank">Изготовление нагрудных знаков и&nbsp;медалей для&nbsp;Правительства Хабаровского&nbsp;края</a></li>
						<li class="services-list__item"><a class="services-list__link" href="http://www.zakupki.gov.ru/epz/contract/contractCard/payment-info-and-target-of-order.html?reestrNumber=0129200003714000064" target="_blank">Изготовление нагрудных знаков Волгоградской областной&nbsp;Думы</a></li>
					</ul>
				</div>
			</section>
			<section class="contacts-section" id="contacts">
				<div class="contacts-section__wrap">
					<header class="contacts-section__header">Свяжитесь с нами по любым вопросам</header>
					<div class="contacts-section__top">
						<div class="contacts-section__address">Санкт-Петербург,<br>пр. Елизарова 34, БЦ "KROL"<br><a href="mailto:zakaz@geraldzavod.ru">zakaz@geraldzavod.ru</a></div>
					</div>
					<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=UOBw4PZgf8proO2JUJ8fRbW6rSj7DKKr&amp;amp;width=100%25&amp;amp;height=300&amp;amp;lang=ru_RU&amp;amp;sourceType=constructor&amp;amp;scroll=true"></script>
					<div class="contacts-section__bottom">
						<div class="contacts-section__logo"><img src="/static/img/main-header/logo.png" alt=""><span>Санкт-петербургский<br>Геральдический<br>Завод</span></div>
						<div class="contacts-section__tel"><a class="contacts-section__tel-number" href="tel:78122442706">8 (812) 244-27-06</a><a class="contacts-section__tel-number" href="tel:78007075164">8 (800) 707-51-64</a><a class="btn btn--small btn--special" href="#">Заказать обратный звонок</a></div>
					</div>
				</div>
			</section>
			<!--include ../blocks/footer/footer.pug-->
			<script src="/static/js/libs.js"></script>
			<script src="/static/js/swiper.min.js"></script>
			<script src="/static/js/main.js"></script>
		</div>
	</body>
</html>