<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<!--SEO-->
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="">
		<link rel="stylesheet" href="/static/css/swiper.min.css">
		<link rel="stylesheet" href="/static/css/style.css">
		<link rel="slylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700&amp;subset=cyrillic">
		<link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC:400,700&amp;amp;subset=cyrillic" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=PT+Serif&amp;amp;subset=cyrillic">
		<title>Геральдический Завод
		</title>
	</head>
	<body>
		<div class="container">
			<header class="main-header">
				<div class="main-header__wrap">
					<div class="main-header__logo"><span>Первый центр по оказанию предрейсовых услуг<br>в Санкт-Петербурге</span></div>
					<div class="main-header__tel"><a class="main-header__tel-number" href="tel:+78122442706"><i class="icon-phone"></i>8 (812) 244-27-06</a><a class="btn btn--mobile-hidden btn--small btn--special js-show-call-popup" href="#">Заказать обратный звонок</a></div>
				</div>
			</header>
			<section class="main-screen">
				<div class="main-screen__wrap">
					<h1 class="main-screen__header">Проводим предрейсовые и послерейсовые медицинские осмотры в Санкт-Петербурге</h1>
					<div class="main-screen__actions">
						<div class="main-screen__actions-left">
							<ul class="main-screen__adv">
								<li>Работаем 24/7</li>
								<li>Как на вашей, так и своей территории</li>
								<li>В наличии все необходимые лицензии</li>
							</ul>
							<div class="main-screen__actions-img"><img src="/static/img/main-screen/maket.jpg"></div>
						</div>
						<div class="main-screen__actions-right">
							<form class="form form--column form--small" action="/count" method="post" data-succmsg="Мы получили вашу заявку. Наш менеджер скоро свяжется с Вами!">
								<header class="form__header">Оставьте заявку на расчёт цены осмотра</header>
								<label class="form__label">
									<p>Ваши контактные данные&nbsp;<em>(обязательно)</em></p>
									<input class="form__input form__input--name" type="text" name="contact" placeholder="Телефон или email">
								</label>
								<label class="form__label">
									<p>Режим осмотра</p>
									<input class="form__input" type="text" name="time" placeholder="Частота и дни недели">
								</label>
								<label class="form__label">
									<p>Количество водителей</p>
									<input class="form__input" type="number" name="number" placeholder="Число">
								</label>
								<button class="btn btn--main" type="submit">Рассчитать цену осмотра</button>
							</form>
						</div>
					</div>
				</div>
			</section>
			<section class="img-text">
				<div class="img-text__wrap">
					<div class="img-text__text">
						<h3 class="img-text__header">Избавим вас от рисков</h3>
						<p>Предприятие получает штрафы при отсутствии предрейсового осмотра водителя. Государство заботится о безопасности на дорогах и медосмотр - один из способов её обеспечения.</p>
						<p>Мы обладаем требуемыми законом кабинетом и штатом сертифицированных медицинских сотрудников. Согласно ФЗ №NNNN с ГГГГ года только работники с медицинским образованием, прошедшие специальные курсы, могут проводить предрейсовый осмотр.</p>
						<p>Для вашего удобства, мы можем разместить медицинский кабинет у вас на предприятии. В случае небольшого количества водителей вам будет выгоднее проходить медосмотр в нашем кабинете.</p>
					</div>
					<div class="img-text__img"><img src="/static/img/img-text/map.jpg" alt="Избавим вас от рисков"></div>
				</div>
			</section>
			<section class="info-section">
				<div class="info-section__wrap">
					<h2 class="info-section__header">Предрейсовые осмотры проходят по следующим правилам</h2>
					<div class="info-section__info">
						<ul>
							<li>Проверяется каждый водитель за исключением категории работников экстренных служб</li>
							<li>Процедура должна быть выполнена до выезда в рейс и входит в рабочее время водителя</li>
							<li>Медосмотр проводится в оборудованном кабинете размером от 12 квадратных метров</li>
							<li>Основная задача проверки — выяснение готовности к вождению автотранспорта</li>
							<li>Средняя длительность осмотра 8 минут</li>
							<li>В журнале предрейсовых медосмотров отмечается его результат. Результат дублируется в путевых листах водителей</li>
							<li>Пригодность к поездке подтвержается соответствующим штампом</li>
							<li>В случае недопуска уведомляется руководство предприятия</li>
						</ul>
						<p>Недопуск может быть получен при выявлении признаков употребления алкоголя, наркотиктов или психотропных веществ, отходящих от нормы пульса или давления или симптомов серьёзной болезни</p>
					</div>
				</div>
			</section>
			<section class="flex-block" id="flex">
				<div class="flex-block__wrap">
					<h3 class="flex-block__header">Важность проведения медосмотров</h3>
					<div class="flex-block__list"><a class="flex-block__item" href="#"><img class="flex-block__img" src="/static/img/flex-block/img-1.jpg" alt="Отзыв">
							<p class="flex-block__descr">Законодательство по проведению предрейсовых осмотров</p></a><a class="flex-block__item" href="#"><img class="flex-block__img" src="/static/img/flex-block/img-2.jpg" alt="Отзыв">
							<p class="flex-block__descr">Сводка из новостей<br><i>«К чему приводит отсутствие проверки водителей»</i></p></a><a class="flex-block__item" href="#"><img class="flex-block__img" src="/static/img/flex-block/img-3.jpg" alt="Отзыв">
							<p class="flex-block__descr">Что проверяется на осмотре</p></a></div>
				</div>
			</section>
			<section class="contacts-section" id="contacts">
				<div class="contacts-section__wrap">
					<header class="contacts-section__header">Наши контакты</header>
					<div class="contacts-section__flex">
						<div class="contacts-section__left">
							<div class="contacts-section__tel"><a class="contacts-section__tel-number" href="tel:78122442706"><i class="icon-phone"></i>8 (812) 244-27-06</a><a class="btn btn--small btn--special js-show-call-popup" href="#">Заказать обратный звонок</a></div>
							<div class="contacts-section__address"><a href="mailto:zakaz@geraldzavod.ru"><i class="icon-mail-alt"></i>zakaz@geraldzavod.ru</a></div>
						</div>
						<div class="contacts-section__right">
							<form class="form form--column" method="post" action="/send-mail" data-succmsg="Мы получили ваше сообщение. Ответим Вам в ближайшее время!">
								<header class="form__header">Ответим на любые вопросы</header>
								<label class="form__label">
									<p>Ваш вопрос</p>
									<textarea class="form__textarea" name="msg" placeholder="Напишите ваш вопрос" rows="5"></textarea>
								</label>
								<label class="form__label">
									<p>Ваш контакт</p>
									<input class="form__input" type="email" name="email" placeholder="Телефон или email">
								</label>
								<button class="btn btn--main" type="submit">Получить ответ</button>
							</form>
						</div>
					</div>
				</div>
			</section>
			<div class="popup popup--js-img"><a class="popup__close js--close-popup" href="#"><span>&#10006;</span></a><img class="popup__img" src=""></div>
			<div class="popup popup--service popup--js-service"><a class="popup__close js--close-popup" href="#"><span>&#10006;</span></a>
				<div class="popup__container">
					<div class="popup__wrapper"></div>
					<div class="swiper-button-prev swiper-button-white popup__button-prev popup__button--js-move popup__button--fade"></div>
					<div class="swiper-button-next swiper-button-white popup__button-next popup__button--js-move"></div>
				</div>
			</div>
			<div class="popup popup--js-order"><a class="popup__close js--close-popup" href="#"><span>&#10006;</span></a>
				<div class="popup__body">
					<header>Оставьте заявку и мы свяжемся с вами в течение 5 минут</header>
					<div class="popup__right">
						<form class="form form--column form--small" action="/get-maket" method="post" data-succmsg="Мы получили вашу заявку. Наш менеджер свяжется с Вами в течение 5 минут!">
							<input class="form__input form__input--name" type="text" name="name" placeholder="Ваше имя">
							<input class="form__input" type="tel" name="phone" placeholder="Ваш номер телефона">
							<input class="form__input" type="email" name="email" placeholder="Ваш email">
							<input class="btn btn--main" type="submit" value="Получить макет">
						</form>
					</div>
				</div>
			</div>
			<div class="popup popup--js-art"><a class="popup__close js--close-popup" href="#"><span>&#10006;</span></a>
				<div class="popup__body">
					<header><small>Оставьте свой электронный адрес и мы отправим на него готовые эскизы нашего дизайнера</small></header>
					<div class="popup__right">
						<form class="form form--column" action="/get-art" method="post" data-succmsg="Эскизы придут к Вам в течение 5 минут!">
							<input class="form__input" type="email" name="email" placeholder="Ваш email">
							<input class="btn btn--main" type="submit" value="Получить эскизы">
						</form>
					</div>
				</div>
			</div>
			<div class="popup popup--js-error"><a class="popup__close js--close-popup" href="#"><span>&#10006;</span></a>
				<div class="popup__body popup__body--column">
					<header><em>Ошибка:</em></header>
					<header class="popup--js-text">Пожалуйста, введите вашу почту или телефон!</header><a class="js--close-popup btn btn--main" href="#">Понял</a>
				</div>
			</div>
			<div class="popup popup--js-success"><a class="popup__close js--close-popup" href="#"><span>&#10006;</span></a>
				<div class="popup__body popup__body--column">
					<header><em>Успех!</em></header>
					<header class="popup--js-text">Мы скоро свяжемся с Вами!</header><a class="js--close-popup btn btn--main" href="#">Понял</a>
				</div>
			</div>
			<div class="popup popup--js-call"><a class="popup__close js--close-popup" href="#"><span>&#10006;</span></a>
				<div class="popup__body">
					<header>Введите номер телефона и в течение 2 минут мы Вам перезвоним</header>
					<div class="popup__right">
						<form class="form form--column" action="/callback" method="post" data-succmsg="Наш менеджер сейчас перезвонит вам!">
							<input class="form__input" type="tel" name="phone" placeholder="Ваш номер телефона">
							<input class="btn btn--main" type="submit" value="Заказать звонок">
						</form>
					</div>
				</div>
			</div>
			<div class="popup popup--js-contract"><a class="popup__close js--close-popup" href="#"><span>&#10006;</span></a>
				<div class="popup__body">
					<header>Введите свой&nbsp;<span>E-mail&nbsp;</span>и мы&nbsp;отправим Вам шаблон договора</header>
					<div class="popup__right">
						<form class="form form--column" action="/get-contract" method="post" data-succmsg="Шаблон договора придет к Вам в течение 5 минут!">
							<input class="form__input" type="email" name="email" placeholder="Ваш email">
							<input class="btn btn--main" type="submit" value="Получить договор">
						</form>
					</div>
				</div>
			</div>
			<div class="popup popup--js-commerce"><a class="popup__close js--close-popup" href="#"><span>&#10006;</span></a>
				<div class="popup__body">
					<header>Оставьте заявку на подготовку коммерческого предложения</header>
					<div class="popup__right">
						<form class="form form--column form--small" action="/get-commerce" method="post" data-succmsg="Мы ответим Вам на заявку в течение 5 минут!">
							<input class="form__input" type="tel" name="phone" placeholder="Ваш номер телефона">
							<input class="form__input" type="email" name="email" placeholder="Ваш email">
							<input class="btn btn--main" type="submit" value="Отправить заявку">
						</form>
					</div>
				</div>
			</div>
			<div class="popup popup--js-gos"><a class="popup__close js--close-popup" href="#"><span>&#10006;</span></a>
				<header class="popup__header">Другие выполненные госзаказы</header>
				<ul class="popup__list">
					<li><a href="http://www.zakupki.gov.ru/epz/contract/contractCard/common-info.html?reestrNumber=1666000830315000012" target="_blank">Изготовление медалей для&nbsp;УО&nbsp;РАН</a></li>
					<li><a href="http://www.zakupki.gov.ru/epz/contract/contractCard/payment-info-and-target-of-order.html?reestrNumber=3543900001315000023" target="_blank">Поставка наградных комплектов: медалей «За&nbsp;вклад в&nbsp;развитие Убинского&nbsp;района»</a></li>
					<li><a href="http://www.zakupki.gov.ru/epz/contract/contractCard/common-info.html?reestrNumber=2027413693415000041" target="_blank">Изготовление медалей для&nbsp;администрации города&nbsp;Уфа</a></li>
					<li><a href="http://www.zakupki.gov.ru/epz/contract/contractCard/common-info.html?reestrNumber=0102200001514000020" target="_blank">Изготовление нагрудных знаков и&nbsp;медалей для&nbsp;Минспорта Республики&nbsp;Бурятия</a></li>
					<li><a href="http://www.zakupki.gov.ru/epz/contract/contractCard/common-info.html?reestrNumber=0347200004214000071" target="_blank">Изготовление нагрудных знаков для&nbsp;пожарно-спасательного центра г.&nbsp;Магадан</a></li>
					<li><a href="http://www.zakupki.gov.ru/epz/contract/contractCard/common-info.html?reestrNumber=0156200004914000031" target="_blank">Изготовление нагрудных знаков «Ветеран труда Пермского&nbsp;края»</a></li>
					<li><a href="http://www.zakupki.gov.ru/epz/contract/contractCard/payment-info-and-target-of-order.html?reestrNumber=0148200005014000064" target="_blank">Изготовление наградного комплекта «Сергий&nbsp;Радонежский»</a></li>
					<li><a href="http://www.zakupki.gov.ru/epz/contract/contractCard/common-info.html?reestrNumber=0122200001014000334" target="_blank">Изготовление нагрудных знаков и&nbsp;медалей для&nbsp;Правительства Хабаровского&nbsp;края</a></li>
					<li><a href="http://www.zakupki.gov.ru/epz/contract/contractCard/payment-info-and-target-of-order.html?reestrNumber=0129200003714000064" target="_blank">Изготовление нагрудных знаков Волгоградской областной&nbsp;Думы</a></li>
				</ul>
				<div class="popup__actions"><a class="btn btn--special btn--small js-show-commerce-popup" href="#">Оставить заявку на коммерческое предложение</a></div>
			</div>
			<div class="overlay"></div>
			<script src="/static/js/libs.js"></script>
			<script src="/static/js/swiper.min.js"></script>
			<!--script(src="/static/js/main.js")-->
			<!-- Yandex.Metrika counter-->
			<script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter41243534 = new Ya.Metrika({ id:41243534, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script>
			<noscript>
				<div><img src="https://mc.yandex.ru/watch/41243534" style="position:absolute; left:-9999px" alt=""></div>
			</noscript>
			<!-- Piwik-->
			<script type="text/javascript">
				var _paq = _paq || [];
				// tracker methods like "setCustomDimension" should be called before "trackPageView"
				_paq.push(['trackPageView']);
				_paq.push(['enableLinkTracking']);
				(function() {
					var u="//stat.z-gu.ru/";
						_paq.push(['setTrackerUrl', u+'piwik.php']);
						_paq.push(['setSiteId', '28']);
						var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
						g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
					})();
			</script>
			<noscript>
				<p><img src="//stat.z-gu.ru/piwik.php?idsite=28&amp;rec=1" style="border:0" alt=""></p>
			</noscript>
			<!-- End Piwik Code-->
		</div>
	</body>
</html>