<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
	</head>
	<body>
		<div style="width: 500px; margin: 0 auto; font-family: serif">
			<header style="display: block; margin: 0; font-size: 25px; line-height: 25px; text-align: center; padding: 20px; background-color: #0f0f11; color: #D6AD4E">{{ subject }}</header>
			<div>{% if text %}
				<p style="display: block; margin: 20px; font-size: 20px; line-height: 25px; color: #505050">{{ text }}</p>
				{% endif %}
				{% if contact %}
				<p style="display: block; margin: 20px; font-size: 20px; line-height: 25px; color: #505050">Контакт: {{ contact }}</p>
				{% endif %}
				{% if watchTime %}
				<p style="display: block; margin: 20px; font-size: 20px; line-height: 25px; color: #505050">Удобное время осмотра: {{ watchTime }}</p>
				{% endif %}
				{% if number %}
				<p style="display: block; margin: 20px; font-size: 20px; line-height: 25px; color: #505050">Число водителей: {{ number }}</p>{% endif %}<small style="display: block; margin: 0 20px 10px; font-size: 18px; color: #808080">
					Время отправки:
					{{ time }}</small>
			</div>
		</div>
	</body>
</html>