<div class="main-nav">
	<ul class="main-nav__list">
		<li class="main-nav__item"><a class="main-nav__link" href="#start" data-link="#start">Старт за 3000</a></li>
		<li class="main-nav__item"><a class="main-nav__link" href="#portfolio" data-link="#portfolio">Наши работы</a></li>
		<li class="main-nav__item"><a class="main-nav__link" href="#extra" data-link="#extra">Зоны роста</a></li>
		<li class="main-nav__item"><a class="main-nav__link" href="#contacts" data-link="#contacts">Контакты</a></li>
	</ul>
</div>
