
<div class="popup popup--order">
  <div class="popup__body">
    <form class="form form--popup">
      <input class="form__hidden" type="hidden" value="">
      <input class="form__input" type="tel" placeholder="Ваш номер телефона" required>
      <input class="btn btn--popup btn--main" type="submit" value="Свяжитесь со мной">
    </form><a class="btn btn--secondary btn--popup btn--close-popup" href="/thankyou">Закрыть окно</a>
  </div>
</div>
