<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<!--SEO-->
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="">
		<link rel="stylesheet" href="/static/css/swiper.min.css">
		<link rel="stylesheet" href="/static/css/style.css">
		<link rel="slylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700&amp;subset=cyrillic">
		<link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC:400,700&amp;amp;subset=cyrillic" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=PT+Serif&amp;amp;subset=cyrillic">
		<title>Геральдический Завод
		</title>
	</head>
	<body>
		<div class="container">
			<header class="main-header main-header--no-margin">
				<div class="main-header__wrap">
					<div class="main-header__logo"><img src="/static/img/main-header/logo.png" alt=""><span>Петербургский<br>Геральдический<br>Завод</span></div>
					<div class="main-header__address">Санкт-Петербург,<br>пр. Елизарова 34, БЦ "KROL"<br><a href="mailto:zakaz@geraldzavod.ru"><i class="icon-mail-alt"></i>zakaz@geraldzavod.ru</a></div>
					<div class="main-header__tel"><a class="main-header__tel-number" href="tel:+78122442706"><i class="icon-phone"></i>8 (812) 244-27-06</a><a class="main-header__tel-number" href="tel:+78007075164"><i class="icon-phone"></i>8 (800) 707-51-64</a><a class="btn btn--mobile-hidden btn--small btn--special" href="/.">На главную</a></div>
				</div>
			</header>
			<section class="main-screen" id="main-screen">
				<div class="main-screen__wrap main-screen__wrap--left">
					<h1 class="main-screen__header">Спасибо за оказанное доверие!<small>Мы свяжемся с Вами в ближайшее время.</small><small>Если у Вас есть срочный вопрос, звоните нам по телефону&nbsp;<em>8 (812) 244-27-06</em></small><small><a class="btn btn--main" href="/.">Вернуться на главную</a></small></h1>
				</div>
			</section>
			<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');ga('create', 'UA-88773591-1', 'auto');ga('send', 'pageview');</script>
			<div class="overlay"></div>
			<script src="/static/js/libs.js"></script>
			<script src="/static/js/swiper.min.js"></script>
			<script src="/static/js/main.js"></script>
			<!-- Yandex.Metrika counter-->
			<script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter41243534 = new Ya.Metrika({ id:41243534, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script>
			<noscript>
				<div><img src="https://mc.yandex.ru/watch/41243534" style="position:absolute; left:-9999px" alt=""></div>
			</noscript>
			<!-- Piwik-->
			<script type="text/javascript">
				var _paq = _paq || [];
				// tracker methods like "setCustomDimension" should be called before "trackPageView"
				_paq.push(['trackPageView']);
				_paq.push(['enableLinkTracking']);
				(function() {
					var u="//stat.z-gu.ru/";
						_paq.push(['setTrackerUrl', u+'piwik.php']);
						_paq.push(['setSiteId', '28']);
						var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
						g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
					})();
			</script>
			<noscript>
				<p><img src="//stat.z-gu.ru/piwik.php?idsite=28&amp;rec=1" style="border:0" alt=""></p>
			</noscript>
			<!-- End Piwik Code-->
		</div>
	</body>
</html>