
@mixin wrap
	display: block
	position: relative

	min-width: 1000px

	padding: 0
	margin: 0 auto

@mixin page_section
	padding-top: 150px

	@media #{$tablet}
		padding-top: 120px

	@media #{$mobile}
		padding-top: 80px

@mixin flex
	display: flex
	flex-direction: row
	justify-content: space-between
	align-items: center

@mixin flex_column
	display: flex
	flex-direction: column
	justify-content: flex-end
	align-items: flex-start

@mixin section_header
	display: block
	position: relative

	margin: 0 0 60px

	font-size: 30px
	line-height: 40px

	font-family: $headers-font
	color: $font-color
	font-weight: bold

	small
		display: block
		margin-top: 30px

		font-size: $fontXMd
		line-height: 30px

		@media #{$tablet}
			font-size: $fontMd
			line-height: 25px
			margin-top: 25px

@mixin page_header
	display: block
	position: relative

	margin: 40px 0

	font-size: 50px
	line-height: 50px
	font-weight: 700
	letter-spacing: 1px

	max-width: 500px

	&::after
		content: ""

		display: block
		position: absolute

		right: 0
		top: 50%

		width: 15px
		height: 15px

		border-width: 0 4px 4px 0
		border-color: #fff
		border-style: solid

		transform: rotate(-45deg) translateY(-50%)

	em
		display: block
		position: relative

		margin-top: 10px

		font-size: 36px
		line-height: 40px
		font-style: normal

		&::before
			content: ""

			display: block

			margin-bottom: 6px

			width: 50px
			height: 4px

			background: #fff

@mixin attention-header
	display: block

	padding: 60px 0
	background: $akcent-color

	color: $font-secondary-color

	font-size: $fontBig
	font-weight: bold
	text-transform: uppercase
	letter-spacing: 2px
	text-align: center

@mixin clearfix
	&::before,
	&::after
		display: table
		content: ""
		line-height: 0
	&::after
		clear: both

@mixin before_darken
	content: ""

	display: block
	position: absolute

	left: 0
	top: 0

	width: 100%
	height: 100%

	background: rgba(0, 0, 0, .25)
	z-index: 0
