// Colors
$font-color: #4c4241
$font-secondary-color: #fff
$font-secondary-active-color: #fff
$font-par-color: #808080
$font-alt-color: #ececec

$font-footer-color: rgb(153, 153, 153)
$font-footer-secondary-color: #dddddd

$akcent-color: #f96041
$secondary-color: #fff
$special-color: #68dbd8
$border-color: #BDBDBD

$input-border: #C5CAE9
$footer-bottom-bg: #4c4241
$footer-top-bg: #1a1a1a
$akcent-bg: #68dbd8
$seconadry-bg: #36a6a4

// Fonts
//=====================================================
$default-font: 'Regular', roboto
$medium-font: 'Medium', roboto
$semibold-font: 'SemiBold', roboto
$bold-font: 'Bold', roboto
$headers-font: 'Bold', roboto

$fontEXLg: 70px // extra large
$fontXLg: 55px
$fontLg: 40px
$fontXBig: 30px
$fontBig: 25px
$fontXMd: 22px
$fontBigMd: 20px
$fontMd: 18px
$fontSm: 16px
$fontXSm: 14px
$fontMicro: 12px

// Dimensions
//=====================================================
$width-min: 320px
$width-primary: 1440px
$width-inner: 1180px
$height-primary: 600px

$mobileSm: "screen and (max-width: 380px)"
$mobile: "screen and (max-width: 600px)"
$tablet: "screen and (max-width: 768px)"
$laptop: "screen and (max-width: 1024px)"
$desktop: "screen and (max-width: 1280px)"

// Mix
//=====================================================
$effect-time: .4s
