footer.main-footer
	.main-footer__top
		.main-footer__wrap.main-footer__wrap--top
			.main-footer__section
				a.main-footer__logo(href="#")
					| #ХочуКрутойСайт
				p.main-footer__text
					| Простое решение для быстрого запуска бизнеса в он-лайн.

			.main-footer__section
				header.main-footer__header
					| Новости
				p.main-footer__text
					| Подпишитесь. Мы будем делиться опытом и рассказывать о новых продуктах и спецпредложениях.
				form.form.form--footer(action="subscribe" method="post")
					input.form__input(type="email" placeholder="Ваш Email" required)
					input.form__submit(type="submit" value="")

	.main-footer__bottom
		.main-footer__wrap.main-footer__wrap--bottom
			.main-footer__bottom-left
				| Jokerinteractive © 2012-2016
			.main-footer__bottom-right
				ul.socials
					li.socials__item
						a.socials__link(href="#")
							i.socials__icon.socials__icon--fb
					li.socials__item
						a.socials__link(href="#")
							i.socials__icon.socials__icon--vk
					li.socials__item(style="display: none")
						a.socials__link(href="#")
							i.socials__icon.socials__icon--inst
