header.main-header
	.main-header__wrap
		a.main-header__logo(href="#")
			| #ХочуКрутойСайт
		include _nav
		.main-header__call
			a.main-header__tel(href="tel:89992390940") +7 (999) 239-09-40
			a.btn.btn--order.btn--special.btn--small(href="#") Заказать звонок

