.main-nav
	ul.main-nav__list
		li.main-nav__item
			a.main-nav__link(href="#start" data-link="#start") Старт за 3000
		li.main-nav__item
			a.main-nav__link(href="#portfolio" data-link="#portfolio") Наши работы
		li.main-nav__item
			a.main-nav__link(href="#extra" data-link="#extra") Зоны роста
		li.main-nav__item
			a.main-nav__link(href="#contacts" data-link="#contacts") Контакты
	a.btn.btn--special.btn--mobile-only.btn--js-nav(href="#") Меню
