.popup.popup--order
	.popup__body
		form.form.form--popup
			input.form__hidden(type="hidden" value="")
			input.form__input(type="tel" placeholder="Ваш номер телефона" required)
			input.btn.btn--popup.btn--main(type="submit" value="Свяжитесь со мной")
		a.btn.btn--secondary.btn--popup.btn--close-popup(href="#") Закрыть окно
