section.person-block
	.person-block__wrap
		.person-block__left
			header.person-block__header
				| Над Вашим эскизом будет работать профессиональный художник
			.person-block__desc
				| Виктор Жеравин - победитель в 3 дизайнерских конкурсах:
				ul
					li Дизайнерский конкурс
					li Дизайнерский конкурс
					li Дизайнерский конкурс
				| По вашему техническому заданию он подготовит эксклюзивный эскиз.
				| Ознакомьтесь с примерами его эскизов ниже.
			.person-block__gallery
				a.person-block__gallery-img(href="#")
					img(src="/static/img/person-block/img-1-sm.jpg" alt="")
				a.person-block__gallery-img(href="#")
					img(src="/static/img/person-block/img-2-sm.jpg" alt="")
				a.person-block__gallery-img(href="#")
					img(src="/static/img/person-block/img-3-sm.jpg" alt="")

		.person-block__right
			.person-block__img
				img(src="/static/img/person-block/artist.jpg" alt="профессиональный художник Виктор Жеравин")
