section.person-block
	.person-block__wrap
		.person-block__left
			.person-block__img
				img(src="/static/img/person-block/artist.jpg" alt="профессиональный художник Виктор Жеравин")

		.person-block__right
			header.person-block__header
				| Над Вашим эскизом будет работать профессиональный художник
			.person-block__desc
				| Виктор Жеравин:
				ul
					li Художник со стажем 15 лет
					li Разработал более 1000 эскизов нагрудных знаков и медалей
					li Победил в 21 дизайнерском конкурсе
				| Ознакомьтесь с примерами его эскизов
			.person-block__gallery
				a.person-block__gallery-img.js-show-img-popup(href="#" data-img="/static/img/person-block/img-1.jpg")
					img(src="/static/img/person-block/img-1-sm.jpg" alt="")
				a.person-block__gallery-img.js-show-img-popup(href="#" data-img="/static/img/person-block/img-2.jpg")
					img(src="/static/img/person-block/img-2-sm.jpg" alt="")
				a.person-block__gallery-img.js-show-img-popup(href="#" data-img="/static/img/person-block/img-3.jpg")
					img(src="/static/img/person-block/img-3-sm.jpg" alt="")

