section.portfolio
	.swiper-container.portfolio__top.portfolio__top--js-own
		.swiper-wrapper
			.swiper-slide(style="background-image:url(/static/img/portfolio/1.jpg)")
				.portfolio__text
					h3.portfolio__text-header
						| 30 000
						small
							| изделий
							br
							| в месяц

			.swiper-slide(style="background-image:url(/static/img/portfolio/2.jpg)")
				.portfolio__text
					h3.portfolio__text-header.portfolio__text-header--small
						| Ювелирное
						br
						| литье
					p
						| Отливаем изделие любой формы
						br
						| из серебра, золота, латуни или мельхиора

			//.swiper-slide(style="background-image:url(http://lorempixel.com/1200/1200/nature/1)")
				.portfolio__text
					h3.portfolio__text-header
						| Ручная доработка
					p
						| Все штампы дорабатываются вручную в соответствии с традициями монетного двора, что обеспечивает максимальное качество и детализацию изделия

			//.swiper-slide(style="background-image:url(http://lorempixel.com/1200/1200/nature/1)")
				.portfolio__text
					h3.portfolio__text-header
						| До 4000
						small
							| изделий
							br
							| в день
					p Штампует наш чеканочный пресс усилием 400 тонн

			.swiper-slide(style="background-image:url(/static/img/portfolio/3.jpg)")
				.portfolio__text
					h3.portfolio__text-header.portfolio__text-header--small
						| Автоматизированная
						br
						| полировка
					p
						| Уменьшает ручной труд
						br
						| и снижает стоимость конечного продукта

			.swiper-slide(style="background-image:url(/static/img/portfolio/4.jpg)")
				.portfolio__text
					h3.portfolio__text-header
						| До 8000
						small
							| заготовок
							br
							| за смену
					p
						| Производит наш вырубной пресс усилием 25 тонн


		// Add Arrows
		.swiper-button-next.swiper-button-white
		.swiper-button-prev.swiper-button-white

	.swiper-container.portfolio__thumbs.portfolio__thumbs--js-own
		.swiper-wrapper
			.swiper-slide.swiper-slide--thumbs(style="background-image:url(/static/img/portfolio/1.jpg)")
			.swiper-slide.swiper-slide--thumbs(style="background-image:url(/static/img/portfolio/2.jpg)")
			.swiper-slide.swiper-slide--thumbs(style="background-image:url(/static/img/portfolio/3.jpg)")
			.swiper-slide.swiper-slide--thumbs(style="background-image:url(/static/img/portfolio/4.jpg)")
