section.portfolio
	.swiper-container.portfolio__top.portfolio__top--js-china
		.swiper-wrapper
			.swiper-slide(style="background-image:url(/static/img/portfolio/china-1.jpg)")
				.portfolio__text
					h3.portfolio__text-header.portfolio__text-header--small
						| Производство в Китае
						small
							| Без потери
							br
							| качества

			.swiper-slide(style="background-image:url(/static/img/portfolio/china-2.jpg)")
				.portfolio__text
					h3.portfolio__text-header.portfolio__text-header--small
						| 2300
						small
							| квадратных метров
							br
							| производства

			.swiper-slide(style="background-image:url(/static/img/portfolio/china-3.jpg)")
				.portfolio__text
					h3.portfolio__text-header.portfolio__text-header--small
						| Контроль
						br
						| качества
						small
							| Производится
							br
							| 6 сотрудниками

			.swiper-slide(style="background-image:url(/static/img/portfolio/china-5.jpg)")
				.portfolio__text
					h3.portfolio__text-header
						| Владелец
						small
							| и наш друг
							br
							| Мао


		// Add Arrows
		.swiper-button-next.swiper-button-white
		.swiper-button-prev.swiper-button-white

	.swiper-container.portfolio__thumbs.portfolio__thumbs--js-china
		.swiper-wrapper
			.swiper-slide.swiper-slide--thumbs(style="background-image:url(/static/img/portfolio/china-1.jpg)")
			.swiper-slide.swiper-slide--thumbs(style="background-image:url(/static/img/portfolio/china-2.jpg)")
			.swiper-slide.swiper-slide--thumbs(style="background-image:url(/static/img/portfolio/china-3.jpg)")
			.swiper-slide.swiper-slide--thumbs(style="background-image:url(/static/img/portfolio/china-5.jpg)")
