.popup.popup--js-order
	a.popup__close.js--close-popup(href="#")
		span &#10006;
	.popup__body
		header
			| Оставьте заявку и мы свяжемся с вами в течение 5 минут
		.popup__right
			form.form.form--column.form--small(action="/get-maket" method="post" data-succmsg="Мы получили вашу заявку. Наш менеджер свяжется с Вами в течение 5 минут!")
				input.form__input.form__input--name(type="text" name="name" placeholder="Ваше имя")
				input.form__input(type="tel" name="phone" placeholder="Ваш номер телефона")
				input.form__input(type="email" name="email" placeholder="Ваш email")
				input.btn.btn--main(type="submit" value="Получить макет")

.popup.popup--js-error
	a.popup__close.js--close-popup(href="#")
		span &#10006;
	.popup__body.popup__body--column
		header
			em Ошибка:
		header.popup--js-text
			| Пожалуйста, введите вашу&nbsp;почту или&nbsp;телефон!
		a.js--close-popup.btn.btn--main(href="#") Ок

.popup.popup--js-success
	a.popup__close.js--close-popup(href="#")
		span &#10006;
	.popup__body.popup__body--column
		header
			em Успех!
		header.popup--js-text
			| Мы скоро свяжемся с Вами!
		a.js--close-popup.btn.btn--main(href="#") Ок

.popup.popup--js-call
	a.popup__close.js--close-popup(href="#")
		span &#10006;
	.popup__body
		header
			| Введите номер телефона и в&nbsp;течение 5&nbsp;минут мы&nbsp;вам перезвоним
		.popup__right
			form.js-submit-form.form.form--popup(action="/callback" method="post" data-succmsg="Наш менеджер сейчас перезвонит&nbsp;вам!")
				input.form__input(type="tel" name="contact" placeholder="Ваш номер телефона")
				button.btn.btn--main(type="submit") Заказать звонок
