.call-to-action
	.call-to-action__wrap
		.call-to-action__header Введите номер телефона и мы проведем бесплатную консультацию по стоимости работ и ответим на любые интересующие Вас вопросы.
		.form
		  input.form__input(type="text", placeholder="+7 (999) 999-99-99")
		  button.btn.btn--main Получить бесплатную консультацию

