.call-to-action
	.call-to-action__wrap
		.call-to-action__header Ваш&nbsp;заказ будет эксклюзивным. Мы&nbsp;прописываем в&nbsp;договоре, что&nbsp;не&nbsp;продаем продукцию третьим&nbsp;лицам.
		a.btn.btn--main.btn--js-tech(href="#") Ознакомьтесь с договором
