.call-to-action
	.call-to-action__wrap
		header.call-to-action__header
			| Посмотрите другие&nbsp;работы нашего&nbsp;художника
		a.btn.btn--main.js-show-art-popup(href="#")
			i.icon-file-archive
			| Скачать другие работы нашего художника
