.call-to-action.call-to-action--contract
	.call-to-action__wrap
		header.call-to-action__header
			| Даем&nbsp;гарантию, что ваши&nbsp;изделия будут&nbsp;сделаны ограниченным тиражом и&nbsp;не&nbsp;будут проданы третьим&nbsp;лицам. Мы&nbsp;прописываем&nbsp;это в&nbsp;договоре.
		a.btn.btn--main.js-show-contract-popup(href="#") Получите шаблон договора
