.call-to-action
	.call-to-action__wrap
		header.call-to-action__header
			| Посмотрите все&nbsp;работы нашего&nbsp;художника
		form.form.form--cta(action="/get-art" method="post")
			input.form__input(type="email" name="email" placeholder="Введите Ваш email")
			input.btn.btn--main(type="submit" value="Получите все эскизы на почту")
