.call-to-action
	.call-to-action__wrap
		header.call-to-action__header
			| Посмотрите все&nbsp;работы нашего&nbsp;художника
		a.btn.btn--main.js-show-art-popup(href="#") Скачать все работы нашего художника
