section.descr-block
	.descr-block__wrap
		.descr-block__content
			h2.descr-block__header
				| За 2&nbsp;года мы&nbsp;приняли участие в&nbsp;более чем 150&nbsp;государственных тендерах и исполнили 32&nbsp;госконтракта
			ul.descr-block__list
				li.descr-block__item
					a.descr-block__link(href="http://www.zakupki.gov.ru/epz/contract/contractCard/payment-info-and-target-of-order.html?reestrNumber=3390301679016000019" target="_blank")
						| Изготовление медалей «70&nbsp;лет Калининграду»
				li.descr-block__item
					a.descr-block__link(href="http://www.zakupki.gov.ru/epz/contract/contractCard/common-info.html?reestrNumber=3290401600816000018" target="_blank")
						| Изготовление и&nbsp;поставка нагрудного знака «Почетный гражданин МО&nbsp;«Котлас»
				li.descr-block__item
					a.descr-block__link(href="http://www.zakupki.gov.ru/epz/contract/contractCard/payment-info-and-target-of-order.html?reestrNumber=2027413693416000029" target="_blank")
						| Изготовление медалей для&nbsp;администрации города&nbsp;Уфа
				li.descr-block__item
					a.descr-block__link(href="http://www.zakupki.gov.ru/epz/contract/contractCard/common-info.html?reestrNumber=2027413693415000098" target="_blank")
						| Изготовление ордена «Дружба&nbsp;народов»
				li.descr-block__item
					a.descr-block__link(href="http://www.zakupki.gov.ru/epz/contract/contractCard/common-info.html?reestrNumber=2770401203715000033" target="_blank")
						| Изготовление сувенирных монет «Знаки Зодиака»
			.descr-block__actions
				a.descr-block__btn.js-show-commerce-popup(href="#") Получите наше коммерческое предложение
				a.descr-block__btn.descr-block__btn--secondary.js-show-gos-popup(href="#") Посмотрите другие выполненные заказы
