<html>
<body>
  <h2>{{ subject }}</h2>

  {% if text %}
    <h4>{{ text }}</h4>
  {% endif %}
  {% if phone %}
    <p>Телефон: {{ phone }}</p>
  {% endif %}
  {% if name %}
    <p>Отправитель:  {{ name }}</p>
  {% endif %}
  {% if email %}
    <p>Email: {{ email }} </p>
  {% endif %}

  <small>Время отправки: {{ time }}</small>
</body>
</html>
