<html>
<body>
	<h2>{{ subject }}</h2>

	{% if text %}
		<h4>{{ text }}</h4>
	{% endif %}
	{% if contact %}
		<p>Контакт: {{ contact }}</p>
	{% endif %}
	{% if watchTime %}
		<p>Удобное время осмотра:  {{ watchTime }}</p>
	{% endif %}
	{% if number %}
		<p>Число водителей: {{ number }} </p>
	{% endif %}

	<small>Время отправки: {{ time }}</small>
</body>
</html>
