section.info-section
	.info-section__wrap

		.info-section__content
			h2.info-section__header
				| Предрейсовые осмотры
				br
				| проходят по следующим правилам

			ul.info-section__info
				li Проверяется каждый водитель за исключением категории работников экстренных служб
				li Процедура должна быть выполнена до выезда в рейс и входит в рабочее время водителя
				li Медосмотр проводится в оборудованном кабинете размером от 12 квадратных метров
				li Основная задача проверки — выяснение готовности к вождению автотранспорта
				li Средняя длительность осмотра 8 минут
				li В журнале предрейсовых медосмотров отмечается его результат. Результат дублируется в путевых листах водителей
				li Пригодность к поездке подтверждается соответствующим штампом
				li В случае недопуска уведомляется руководство предприятия

		.info-section__attention
			p
				| Недопуск может быть получен при выявлении признаков употребления алкоголя, наркотиков или психотропных веществ, отходящих от нормы пульса или давления или симптомов серьёзной болезни.


