section.info-section
    .info-section__wrap

        .info-section__cta Услуги

        section.info-section__blocks

            .info-section__block
                h3.info-section__block-title Высотный монтаж
                .info-section__block-txt
                   | Ipsum necessitatibus error molestiae minima facilis voluptatibus animi temporibus
                   | Ratione est maxime saepe quidem ullam Obcaecati enim commodi nobis consectetur voluptates?
                   | Quo doloremque nemo provident natus eos? Tempore placeat hic

            .info-section__block
                h3.info-section__block-title Комплексные высотные работы с обслуживанием кровли
                .info-section__block-txt
                   | Ipsum necessitatibus error molestiae minima facilis voluptatibus animi temporibus
                   | Ratione est maxime saepe quidem ullam Obcaecati enim commodi nobis consectetur voluptates?
                   | Quo doloremque nemo provident natus eos? Tempore placeat hic

            .info-section__block
                h3.info-section__block-title Чистка Крыш от снега
                .info-section__block-txt
                   | Ipsum necessitatibus error molestiae minima facilis voluptatibus animi temporibus
                   | Ratione est maxime saepe quidem ullam Obcaecati enim commodi nobis consectetur voluptates?
                   | Quo doloremque nemo provident natus eos? Tempore placeat hic

