section.services-list.services-list--alt
	.services-list__wrap
		h2.services-list__header
			| За 2&nbsp;года мы&nbsp;приняли участие в&nbsp;более чем 150&nbsp;государственных тендерах и исполнили 32&nbsp;госконтракта.
		ul.services-list__list
			li.services-list__item
				a.services-list__link(href="http://www.zakupki.gov.ru/epz/contract/contractCard/payment-info-and-target-of-order.html?reestrNumber=3390301679016000019" target="_blank")
					| Изготовление медалей «70&nbsp;лет Калининграду»
			li.services-list__item
				a.services-list__link(href="http://www.zakupki.gov.ru/epz/contract/contractCard/common-info.html?reestrNumber=3290401600816000018" target="_blank")
					| Изготовление и&nbsp;поставка нагрудного знака «Почетный гражданин МО&nbsp;«Котлас»
			li.services-list__item
				a.services-list__link(href="http://www.zakupki.gov.ru/epz/contract/contractCard/payment-info-and-target-of-order.html?reestrNumber=2027413693416000029" target="_blank")
					| Изготовление медалей для&nbsp;администрации города&nbsp;Уфа
			li.services-list__item
				a.services-list__link(href="http://www.zakupki.gov.ru/epz/contract/contractCard/common-info.html?reestrNumber=2027413693415000098" target="_blank")
					| Изготовление ордена «Дружба&nbsp;народов»
			li.services-list__item
				a.services-list__link(href="http://www.zakupki.gov.ru/epz/contract/contractCard/common-info.html?reestrNumber=2770401203715000033" target="_blank")
					| Изготовление сувенирных монет «Знаки Зодиака»
			li.services-list__item
				a.services-list__link(href="http://www.zakupki.gov.ru/epz/contract/contractCard/common-info.html?reestrNumber=1666000830315000012" target="_blank")
					| Изготовление медалей для&nbsp;УО&nbsp;РАН
			li.services-list__item
				a.services-list__link(href="http://www.zakupki.gov.ru/epz/contract/contractCard/payment-info-and-target-of-order.html?reestrNumber=3543900001315000023" target="_blank")
					| Поставка наградных комплектов: медалей «За&nbsp;вклад в&nbsp;развитие Убинского&nbsp;района»
			li.services-list__item
				a.services-list__link(href="http://www.zakupki.gov.ru/epz/contract/contractCard/common-info.html?reestrNumber=2027413693415000041" target="_blank")
					| Изготовление медалей для&nbsp;администрации города&nbsp;Уфа
			li.services-list__item
				a.services-list__link(href="http://www.zakupki.gov.ru/epz/contract/contractCard/common-info.html?reestrNumber=0102200001514000020" target="_blank")
					| Изготовление нагрудных знаков и&nbsp;медалей для&nbsp;Минспорта Республики&nbsp;Бурятия
			li.services-list__item
				a.services-list__link(href="http://www.zakupki.gov.ru/epz/contract/contractCard/common-info.html?reestrNumber=0347200004214000071" target="_blank")
					| Изготовление нагрудных знаков для&nbsp;пожарно-спасательного центра г.&nbsp;Магадан
			li.services-list__item
				a.services-list__link(href="http://www.zakupki.gov.ru/epz/contract/contractCard/common-info.html?reestrNumber=0156200004914000031" target="_blank")
					| Изготовление нагрудных знаков «Ветеран труда Пермского&nbsp;края»
			li.services-list__item
				a.services-list__link(href="http://www.zakupki.gov.ru/epz/contract/contractCard/payment-info-and-target-of-order.html?reestrNumber=0148200005014000064" target="_blank")
					| Изготовление наградного комплекта «Сергий&nbsp;Радонежский»
			li.services-list__item
				a.services-list__link(href="http://www.zakupki.gov.ru/epz/contract/contractCard/common-info.html?reestrNumber=0122200001014000334" target="_blank")
					| Изготовление нагрудных знаков и&nbsp;медалей для&nbsp;Правительства Хабаровского&nbsp;края
			li.services-list__item
				a.services-list__link(href="http://www.zakupki.gov.ru/epz/contract/contractCard/payment-info-and-target-of-order.html?reestrNumber=0129200003714000064" target="_blank")
					| Изготовление нагрудных знаков Волгоградской областной&nbsp;Думы
