section.services-list#services
	.services-list__wrap
		h2.services-list__header
			| Выберите желаемое изделие
		ul.services-list__list
			li.services-list__item
				a.services-list__img.js-show-img-popup(href="#")
					img(src="/static/img/services-list/1.jpg" alt="Нагрудные знаки")
				.services-list__link
					p Нагрудные знаки
					a.btn.btn--small.btn--special.js-show-order-popup(href="#") Заказать

			li.services-list__item
				a.services-list__img.js-show-img-popup(href="#")
					img(src="/static/img/services-list/2.jpg" alt="Медали на колодке")
				.services-list__link
					p Медали на колодке
					a.btn.btn--small.btn--special.js-show-order-popup(href="#") Заказать

			li.services-list__item
				a.services-list__img.js-show-img-popup(href="#")
					img(src="/static/img/services-list/3.jpg" alt="Значки, фрачники")
				.services-list__link
					p Значки, фрачники
					a.btn.btn--small.btn--special.js-show-order-popup(href="#") Заказать

			li.services-list__item
				a.services-list__img.js-show-img-popup(href="#")
					img(src="/static/img/services-list/4.jpg" alt="Спортивные медали")
				.services-list__link
					p Спортивные медали
					a.btn.btn--small.btn--special.js-show-order-popup(href="#") Заказать

			li.services-list__item
				a.services-list__img.js-show-img-popup(href="#")
					img(src="/static/img/services-list/5.jpg" alt="Монеты")
				.services-list__link
					p Монеты
					a.btn.btn--small.btn--special.js-show-order-popup(href="#") Заказать

			li.services-list__item
				a.services-list__img.js-show-img-popup(href="#")
					img(src="/static/img/services-list/6.jpg" alt="Сувенирные медали")
				.services-list__link
					p Сувенирные медали
					a.btn.btn--small.btn--special.js-show-order-popup(href="#") Заказать

			li.services-list__item.services-list__item--big
				a.services-list__img.js-show-img-popup(href="#")
					img(src="/static/img/services-list/8.jpg" alt="Изделия из Драгоценных металлов")
				.services-list__link
					p Изделия из Драгоценных металлов
					a.btn.btn--small.btn--special.js-show-order-popup(href="#") Заказать

