section.services-list
	.services-list__wrap
		h2.services-list__header
			| Выберите желаемое изделие
		ul.services-list__list
			li.services-list__item
				a.services-list__link(href="#") Нагрудные знаки
			li.services-list__item
				a.services-list__link(href="#") Медали на колодке
			li.services-list__item
				a.services-list__link(href="#") Значки, фрачники
			li.services-list__item
				a.services-list__link(href="#") Спортивные медали
			li.services-list__item
				a.services-list__link(href="#") Изделия из Драгоценных металлов
			li.services-list__item
				a.services-list__link(href="#") Монеты
			li.services-list__item
				a.services-list__link(href="#") Брелки
			li.services-list__item
				a.services-list__link(href="#") Подарочные футляры

