.services-list
	display: block
	position: relative

	padding: 120px 0

	background: $akcent-bg

	@media #{$laptop}
		padding: 80px 0

	@media #{$tablet}
		padding: 60px 0

	@media #{$mobileSm}
		padding: 40px 0

	&__wrap
		@include wrap

	&__header
		@include section_header
		color: $akcent-color
		font-family: $headers-font
		font-size: $fontLg
		letter-spacing: 3px

	&__list
		@include flex
		flex-wrap: wrap
		justify-content: space-around

		width: 75%
		margin: 0 auto

		@media #{$laptop}
			width: 100%
			max-width: 900px

	&__item
		display: block
		position: relative

		box-sizing: border-box

		padding: 20px 15px
		width: 32%
		flex-basis: 32%

		@media #{$mobile}
			width: 48%
			flex-basis: 48%

		@media #{$mobileSm}
			width: 100%
			flex-basis: 100%

		&--big
			width: 48%
			flex-basis: 48%

			@media #{$mobile}
				width: 100%
				flex-basis: 100%

		&:hover
			.services-list__link
				color: $akcent-color

	&__img
		display: block
		box-sizing: border-box

		width: 130px
		border: 2px solid $akcent-bg
		border-radius: 50%

		margin: 0 auto 10px

		transition: $effect-time
		overflow: hidden

		&:hover
			border-color: $akcent-color

		@media #{$tablet}
			width: 115px

		@media #{$mobileSm}
			width: 100px

		img
			display: block
			width: 100%

	&__link
		font-size: $fontMd
		line-height: 30px
		color: $font-secondary-color
		font-family: $headers-font

		vertical-align: middle
		text-align: center

		transition: $effect-time

		@media #{$laptop}
			font-size: $fontMd
			line-height: $fontBigMd

		@media #{$mobile}
			font-size: $fontSm

		p
			margin-bottom: 10px
			letter-spacing: 1px
