.main-nav
    ul.main-nav__list
        li.main-nav__item
            a.main-nav__link(href="#main-screen") Главная
        li.main-nav__item
            a.main-nav__link(href="#services") Изделия
        li.main-nav__item
            a.main-nav__link(href="#portfolio") Опыт
        li.main-nav__item
            a.main-nav__link(href="#result") Качество
        li.main-nav__item
            a.main-nav__link(href="#flex") Клиенты
