.main-nav
    ul.main-nav__list
        li.main-nav__item
            a.main-nav__link(href="#") Главная
        li.main-nav__item
            a.main-nav__link(href="#") Изделия
        li.main-nav__item
            a.main-nav__link(href="#") Опыт
        li.main-nav__item
            a.main-nav__link(href="#") Качество
        li.main-nav__item
            a.main-nav__link(href="#") Клиенты
