section.result
	.result__wrap
		.result__left
			.result__work
				img(src="/static/img/result/work-21.jpg")
		.result__right
			.result__descr
				header Медаль «Куликово&nbsp;поле»
				p.result__descr-material
					| Материал: Цинк с покрытием медью
				p.result__descr-number
					| Тираж 120 шт

			.result__slides
				a.result__slides-item.result__slides-item--active(href="#" data-header="Медаль «Куликово&nbsp;поле»" data-material="Цинк с покрытием медью" data-number="120 шт")
					img(src="/static/img/result/work-21.jpg")
				a.result__slides-item(href="#" data-header="Медаль «50&nbsp;лет академии ФСО»" data-material="Латунь" data-number="3500 шт")
					img(src="/static/img/result/work-22.jpg")
				a.result__slides-item(href="#" data-header="Медаль «70&nbsp;лет Калининграду»" data-material="Латунь" data-number="7700 шт")
					img(src="/static/img/result/work-23.jpg")
