section.result#result
	h2.result__header
		| Наши работы
	.result__wrap
		.result__left
			.result__work
				img(src="/static/img/result/work-11.jpg")
		.result__right
			.result__descr
				header Нагрудный&nbsp;знак «50&nbsp;лет академии&nbsp;ФСО»
				p.result__descr-material
					| Материал: Нейзильбер и латунь
				p.result__descr-number
					| Тираж 2500 шт

			.result__slides
				a.result__slides-item.result__slides-item--active(href="#" data-header="Нагрудный&nbsp;знак «50&nbsp;лет академии&nbsp;ФСО»" data-material="Нейзильбер и латунь" data-number="2500 шт")
					img(src="/static/img/result/work-11.jpg")
				a.result__slides-item(href="#" data-header="Значки «55&nbsp;лет ЭС&nbsp;г.&nbsp;Салават»" data-material="Серебро 925 и латунь с позолотой" data-number="80 шт")
					img(src="/static/img/result/work-12.jpg")
				a.result__slides-item(href="#" data-header="Значки «Аксалта»" data-material="Серебро 925 и серебро 925 с позолотой" data-number="100 шт")
					img(src="/static/img/result/work-13.jpg")


