section.result
	.result__wrap
		.result__left
			.result__work
				img(src="/static/img/result/work-31.jpg")
		.result__right
			.result__descr
				header Фрачник «РССУ&nbsp;50&nbsp;лет»
				p.result__descr-material
					| Материал: Латунь
				p.result__descr-number
					| Тираж 500 шт

			.result__slides
				a.result__slides-item.result__slides-item--active(href="#" data-header="Фрачник «РССУ&nbsp;50&nbsp;лет»" data-material="Латунь" data-number="500 шт")
					img(src="/static/img/result/work-31.jpg")
				a.result__slides-item(href="#" data-header="Фрачник «РССУ&nbsp;50&nbsp;лет»" data-material="Серебро 925 с позолотой" data-number="500 шт")
					img(src="/static/img/result/work-32.jpg")
				a.result__slides-item(href="#" data-header="Фрачник «Инженерно-технический факультет&nbsp;ВИТУ»" data-material="Серебро 925 и серебро 925 с позолотой" data-number="20 шт")
					img(src="/static/img/result/work-33.jpg")
