section.contacts-section
	.contacts-section__wrap

		.contacts-section__left
			header.contacts-section__header Наши контакты
			.contacts-section__left-content
				ul.contacts-section__contacts
					li
						a(href="tel")
							i.icon-mail-alt
							|mail@mail.ru
					li
						a(href="mailto")
							i.icon-phone
							| +7 (999) 999-99-99

		.contacts-section__right
			form.form(method="post" action="/send-mail" data-succmsg="Мы получили ваше сообщение. Ответим Вам в ближайшее время!")
				header.form__header
					| Ответим на любые вопросы

				label.form__label
					p Ваш вопрос
					textarea.form__textarea(name="msg" rows="5")

				label.form__label
					p Ваш контакт
					input.form__input(type="text" name="contact" placeholder="Телефон или email")

				button.btn.btn--main(type="submit") Получить ответ
