.contacts-section
	&__wrap
		@include wrap
		display: flex
		align-items: stretch

	&__left,
	&__right
		display: flex
		position: relative

		flex-direction: column

		flex: 1 1 50%
		max-width: 50%

	&__left::after
		content: ""

		display: block
		position: absolute

		right: 0
		bottom: 6%
		transform: translateX(50%)

		width: 45%
		height: 5%

		background: url(../img/contacts-section/left-decor.jpg) right center no-repeat
		background-size: contain

	&__right
		background: url(../img/contacts-section/right.jpg) center
		background-size: cover

		padding: 160px 10% 40px 0
		align-items: flex-end

		&::before
			content: ""

			display: block
			position: absolute

			left: 0
			bottom: 20%

			height: 16%
			width: 8%

			background: url(../img/contacts-section/right-decor.jpg) left center no-repeat
			background-size: contain

	&__header
		@include section_header

		padding-left: 10%
		margin: 45px 0

	&__left-content
		flex: 1 1 50%

		background: url(../img/contacts-section/left.jpg) center
		background-size: cover

	&__contacts
		display: block

		padding: 100px 0 100px 10%
		margin: 0

		background-color: rgba(0, 0, 0, .4)

		li
			display: block
			margin-bottom: 40px

			&:last-of-type
				margin-bottom: 0

			a
				color: $font-secondary-color

				font-size: 18px
				line-height: 25px

				vertical-align: middle

				i
					font-size: 22px
					line-height: 25px

					vertical-align: middle

					margin-right: 35px

