.contacts-section
	padding: 60px 0 0

	&__wrap
		@include wrap

	&__flex
		@include flex
		justify-content: flex-start
		align-items: flex-start
		margin-bottom: 40px

		@media #{$mobile}
			flex-wrap: wrap
			margin-bottom: 20px

	&__left
		flex-basis: 35%
		margin-right: 5%

		@media #{$laptop}
			flex-basis: 45%

		@media #{$tablet}
			flex-basis: 50%

		@media #{$mobile}
			flex-basis: 100%
			margin: 0 0 20px

	&__right
		flex-basis: 30%

		@media #{$laptop}
			flex-basis: 35%

		@media #{$tablet}
			flex-basis: 45%

		@media #{$mobile}
			flex-basis: 100%


	&__header
		@include section_header
		font-size: $fontLg - 2
		line-height: $fontLg - 2
		font-family: $headers-font
		letter-spacing: 1px
		text-align: left

	&__address
		display: block

		font-size: $fontBigMd
		line-height: $fontBigMd + 6

		@media #{$mobile}
			font-size: $fontMd
			line-height: 20px

		a
			color: $akcent-color
			text-decoration: underline

	&__logo
		display: flex
		align-items: center
		margin-bottom: 40px

		@media #{$tablet}
			margin-bottom: 20px

		img
			display: block
			max-width: 110px
			margin-right: 18px

		span
			font-size: $fontMd

			@media #{$mobile}
				font-size: $fontSm

	&__tel
		display: block
		margin-bottom: 40px

		@media #{$tablet}
			margin-bottom: 20px

	&__tel-number
		display: block

		margin-bottom: 10px

		font-size: $fontXBig
		line-height: $fontXBig
		font-weight: bold
		color: $font-color

		&:hover
			text-decoration: underline

		@media #{$mobile}
			font-size: $fontBig
			line-height: $fontBig

			&:last-of-type
				margin-bottom: 0
