section.stock

    article.stock__item
        h3.stock__title ЧИСТКА КРЫШ ОТ СНЕГА
        h4.stock__sub-title Сезонное предложение
        .stock__description
            | Предотвратим падение снега и сосулек с крыш, продавливание кровли под снежной массой и
            | протекание во время оттепели.
        .stock__btn-container
            button.btn Подробнее

        .stock__modal
            .stock__modal-overlay
            .stock__modal-wrap
                .stock__modal-content
                    | Предотвратим падение снега и сосулек с крыш, продавливание кровли под снежной массой и
                    | протекание во время оттепели.

    article.stock__item
        h3.stock__title КОМПЛЕКСНЫЕ ВЫСОТНЫЕ РАБОТЫ С ОБСЛУЖИВАНИЕМ КРОВЛИ
        h4.stock__sub-title Специальное предложение
        .stock__description
            | Решим задачи по высотному монтажу, установке системы вентиляции и кондиционеров.
        .stock__btn-container
            button.btn Подробнее

        .stock__modal
            .stock__modal-overlay
            .stock__modal-wrap
                .stock__modal-content
                    | Решим задачи по высотному монтажу, установке системы вентиляции и кондиционеров.

