section.img-text.img-text--map
	.img-text__wrap
		.img-text__text
			h3.img-text__header
				| Работаем со всеми регионами РФ. Доставка по России до дверей – бесплатно.
		.img-text__img
			img(src="/static/img/img-text/map.jpg" alt="Работаем со всеми регионами РФ. Доставка до двери – бесплатно.")
