section.img-text.img-text--map
	.img-text__wrap
		.img-text__text
			h3.img-text__header
				| Работаем со всеми регионами РФ. Доставка по России до дверей – бесплатно.
		.img-text__img
			img(src="https://api-maps.yandex.ru/services/constructor/1.0/static/?sid=ogzHxVBZBGlzLEBzyprg1Qg9M3iUAA1k&amp;width=474&amp;height=282&amp;lang=ru_RU&amp;sourceType=constructor" alt="Работаем со всеми регионами РФ. Доставка до двери – бесплатно.")
