.img-text
	padding: 60px 0
	background: $seconadry-bg

	@media #{$mobile}
		padding: 30px 0

	&__wrap
		@include wrap

	&__img
		display: inline-block
		position: relative
		max-width: 40%
		vertical-align: middle

		@media #{$mobile}
			max-width: 400px
			width: 90%

		img
			display: block
			margin: 0 auto

			height: 300px
			max-width: 100%

			border: 2px solid $akcent-bg

			@media #{$laptop}
				width: 100%
				height: auto

	&__text
		display: inline-block
		width: 50%

		margin-right: 5%

		vertical-align: top
		text-align: left

		@media #{$mobile}
			width: 100%
			margin: 0 0 30px

		p
			font-size: 18px
			line-height: 20px

			margin-bottom: 20px

	&__header
		@include section_header
