section.img-text
	.img-text__wrap
		h2.img-text__header
			| Избавим вас от рисков
		article.img-text__article
			.img-text__img
				img(src="/static/img/img-text/one.jpg" alt="Избавим вас от рисков")
			.img-text__text
				p
					| Предприятие получает штрафы при отсутствии предрейсового осмотра водителя. Государство заботится о безопасности на дорогах и медосмотр - один из способов её обеспечения.

		article.img-text__article
			.img-text__text
				p
					| Мы обладаем требуемыми законом кабинетом и штатом сертифицированных медицинских сотрудников. Согласно ФЗ №NNNN с ГГГГ года только работники с медицинским образованием, прошедшие специальные курсы, могут проводить предрейсовый осмотр.
			.img-text__img
				img(src="/static/img/img-text/two.jpg" alt="Избавим вас от рисков")

		article.img-text__article
			.img-text__img
				img(src="/static/img/img-text/three.png" alt="Избавим вас от рисков")
			.img-text__text
				p
					| Для вашего удобства, мы можем разместить медицинский кабинет у вас на предприятии. В случае небольшого количества водителей вам будет выгоднее проходить медосмотр в нашем кабинете.

