section.img-text
	.img-text__wrap
		.img-text__text
			h3.img-text__header
				| Свидетельство о постановке на учет в государственной пробирной инспекции. Каждое наше изделие из драгоценного металла имеет государственное пробирное клеймо.
		a.img-text__img(href="#")
			img(src="/static/img/img-text/img.jpg" alt="Свидетельство о постановке на учет")
