section.img-text
	.img-text__wrap
		.img-text__text
			h3.img-text__header
				| Избавим вас от рисков
			p
				| Предприятие получает штрафы при отсутствии предрейсового осмотра водителя. Государство заботится о безопасности на дорогах и медосмотр - один из способов её обеспечения.
			p
				| Мы обладаем требуемыми законом кабинетом и штатом сертифицированных медицинских сотрудников. Согласно ФЗ №NNNN с ГГГГ года только работники с медицинским образованием, прошедшие специальные курсы, могут проводить предрейсовый осмотр.
			p
				| Для вашего удобства, мы можем разместить медицинский кабинет у вас на предприятии. В случае небольшого количества водителей вам будет выгоднее проходить медосмотр в нашем кабинете.
		.img-text__img
			img(src="/static/img/img-text/map.jpg" alt="Избавим вас от рисков")
